body.about-background{
    background-image:url('../images/lights/about-background-pattern.png'),url('../images/lights/about-background-color.png');
    background-position:top;
    background-size:cover;
    background-repeat: no-repeat;
    &.background-toggle{
        background-image: none;
    }
}
 
.about-background-photo-pattern{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    z-index:1;
    bottom:0px;
    // height:2100px;
    overflow:hidden;
    @media(max-width: $mobile + 'px'){
        display:none;
    }
}
.about-background-photo{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    z-index:1;
    bottom:0px;
    display:none;
    @media(max-width: $mobile + 'px'){
        display:block;
    }
}
 
.about-page{
    padding-top:50px;
    padding-left:20px;
    padding-right:20px;
    // background-color:#001e28;
    // background: rgba(21,10,32,1);
    // background: -moz-linear-gradient(left, rgba(21,10,32,1) 0%, rgba(15,52,145,1) 29%, rgba(15,52,145,1) 71%, rgba(21,10,32,1) 100%);
    // background: -webkit-gradient(left top, right top, color-stop(0%, rgba(21,10,32,1)), color-stop(29%, rgba(15,52,145,1)), color-stop(71%, rgba(15,52,145,1)), color-stop(100%, rgba(21,10,32,1)));
    // background: -webkit-linear-gradient(left, rgba(21,10,32,1) 0%, rgba(15,52,145,1) 29%, rgba(15,52,145,1) 71%, rgba(21,10,32,1) 100%);
    // background: -o-linear-gradient(left, rgba(21,10,32,1) 0%, rgba(15,52,145,1) 29%, rgba(15,52,145,1) 71%, rgba(21,10,32,1) 100%);
    // background: -ms-linear-gradient(left, rgba(21,10,32,1) 0%, rgba(15,52,145,1) 29%, rgba(15,52,145,1) 71%, rgba(21,10,32,1) 100%);
    // background: linear-gradient(to right, rgba(21,10,32,1) 0%, rgba(15,52,145,1) 29%, rgba(15,52,145,1) 71%, rgba(21,10,32,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#150a20', endColorstr='#150a20', GradientType=1 );
    .container-2{
        position: relative;
        z-index: 2;
    }
    @media(max-width:$medium-screen + 'px'){
        // padding-top:16%;
    }
    @media(max-width:$mobile + 'px'){
        // padding-top:30%;
        .container-2{
           
            
            padding:0px;
           
        }
    }
    // &:before{
    //     content:'';
    //     width:100%;
    //     height:2100px;
    //     display:block;
    //     position: absolute;;
    //     top:0px;
    //     left:0px;
    //     z-index: 0;
    //     background-image:url('../images/lights/about-background.jpg');
    //     background-size:cover;
    //     background-position: top left;
    //     background-repeat: no-repeat;
    //     @media(max-width: $ipad + 'px'){
    //         background-image:url('../images/lights/about-background.png');
    //     }
    //     @media(max-width: $mobile + 'px'){
    //         height:2600px;
    //     }
 
    // }
   
    .page-title{
        margin-bottom:127px;
        position:relative;
        z-index:1;
        @media(max-width: $mobile + 'px'){
            text-align:center;
            margin-bottom:40px;
        }
    }
    .partner-block{
        margin-bottom:160px;
        .partner-logos{
            display:flex;
            align-items:center;
            justify-content:center;
            // height:147px;
            height:200px;
            @media(max-width: $mobile + 'px'){
                padding:15px;
            }
        }
        .social-icons{
            margin-top:40px;
            @media(max-width: $mobile + 'px'){
                margin-top:20px;
            }
            a{
                margin-right:15px;
                &:after{
                    display:none;
                }
                img{
                    max-height:28px;
                }
            }
        }
        @media(max-width: $mobile + 'px'){
            margin-bottom:50px;
        }
    }
 
    p{
        // font-size: $body-font-size - 2;
        // line-height: $body-line-height - 5;
        // margin-bottom:0px;
    }
 
    .introduction{
        margin-bottom:116px;
        position:relative;
        z-index: 1;
        @media(max-width: $mobile + 'px'){
            margin-left:15px;
            margin-right:15px;
            margin-bottom:60px;
        }
        h5{
            margin-bottom:20px;
            @media(max-width: $mobile + 'px'){
                text-align:left !important;
                line-height:22px;
            }
        }
        p{
            margin-bottom:15px;
        }
    }
    .support-title{
        padding-bottom:120px;
        @media(max-width: $mobile + 'px'){
            padding-bottom:15px;
            h5{
              margin-bottom:0;
              @media(max-width: $mobile + 'px'){
                margin-bottom: 0px !important;
                margin-top: 60px;
              }
            }
        }
        h5{
            margin-bottom:30px;
        }
        &.bicentennial{
            .row{
                @media(max-width: $mobile + 'px'){
                    justify-content: center;     
                }
            }
        }
    }
 
    .partner-logos{
        @media(max-width: $mobile + 'px'){
            margin-top: 40px;
            margin-bottom: 40px;
        }
        img{
            width:100%;
            @media(max-width: $mobile + 'px'){
               max-width: 80%;
            }
        }
    }
 
    .special-logos{
        margin-bottom:30px;
        img{
            width: 100%;
            @media(max-width: $mobile + 'px'){
                // height:90px;
            }
        }
        
    }
 
    @media(max-width: $mobile + 'px'){
      .special-logos{
        margin-bottom:10px;
      }
   
    }
 
    h5{
        @media(max-width: $mobile + 'px'){
            text-align:center;
        }
    }
   
    .special-block{
        position: relative;
        z-index: 3;
    }
 
    .background-pattern-left{
        position: fixed;
        width: 20vw;
        top: 25%;
        left: -10.3%;
        @media(max-width: $ipad + 'px'){
            display:none;
        }
    }
    .background-pattern-right{
        position: fixed;
        width: 20vw;
        bottom: 5%;
        right: -10.3%;
        transform: scaleX(-1);
        @media(max-width: $ipad + 'px'){
            display:none;
        }
    }
   
}