.faq-page{
  padding-bottom:80px;
  .background-photo{
    position:fixed;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    z-index:-1;
    img{
      width:100%;
      height:100%;
    }   
  }
 
  .background-pattern{
    background-image:url('../images/lights/faq-background-pattern.png');
    // background-repeat: repeat-y;
    // background-size:cover;
   position: absolute;
    background-repeat: repeat-y;
    background-size:100%;
    top:0px;
    z-index: 0;
    width:100%;
    // min-height:60vw;
    bottom:0px;
    min-height: 100vh;
    @media(max-width: $ipad + 'px'){
      display:none;
    }
  }
 
  .container-2{
    // margin-top:8%;
    @media(max-width: $ipad + 'px'){
      margin-top:50px;
      padding: 0px 20px;
    }
    @media(max-width: $mobile + 'px'){
      margin-top:50px;
    }
    h3{
      margin-bottom:60px;
      @media(max-width: $ipad + 'px'){
        margin-bottom:30px;
      }
    }
    .row{
      margin-left:-15px;
      margin-right: -15px;
 
      .mobile-dropdown{
        position: relative;
 
        .dropdown{
          display: none;
 
          border: 1px solid $secondary-color;
          padding: 10px;
          color: $secondary-color;
          margin-bottom: 30px;
 
          span{
            pointer-events: none;
            display: inline-block;
            width: 95%;
          }
 
          @media(max-width: $mobile + 'px'){
            // display: block;
            display:flex;
            .fa-angle-down,.fa-angle-up{
              pointer-events: none;
              font-size: 30px;
              line-height: 20px;
              vertical-align: middle;
            }
            .fa-angle-down{
              display: inline-block;
            }
            .fa-angle-up{
              display: none;
            }
            &.active{
              .fa-angle-down{
                display: none;
              }
              .fa-angle-up{
                display: inline-block;
              }
            }
          }
          @media(max-width: $xs-mobile + 'px'){
            span{
              white-space:nowrap;
              overflow:hidden;
            }
          }
        }
 
        .faq-list{
          list-style:none;
          padding-left:0;
          li{
            a{
              font-size: $h5-font-size - 4;
              font-weight: 900;
              text-decoration: none;
              color: $white-color;
              &:after{
                display:None;
              }
              &.active{
                color:$secondary-color;
              }
              &:hover, &.active{
                color: $secondary-color;
              }
 
              @media(max-width: $mobile + 'px'){
                color: #353535;
                &::after{
                  display: none;
                }
 
                &.active, &:hover{
                  color: #701d96;
                }
              }
            }
            margin-bottom:30px;
 
            @media(max-width: $mobile + 'px'){
              margin-bottom:0;
              padding: 20px 20px 0;
 
              &:last-child{
                padding-bottom: 20px;
              }
            }
          }
          
          @media(max-width: $mobile + 'px'){
            position: absolute;
            top: 46px;
            background: #f6fa18;
            width: 100%;
 
            z-index: 2;
            display: none;
 
            &.active{
              display: block;
             
            }
          }
          @media(max-width: 1199px) and (min-width: 767px) {
            top: 100px;
          }
          
        }
 
      }
 
    }
 
    .accordion{
      border-left: 1px solid $secondary-color;
      padding-left: 30px;
 
      @media(max-width: $mobile + 'px'){
        border-left: none;
        padding-left: 0;
        // max-height: 250px;
        // overflow-y: scroll;
 
        //display: none;
      }
 
      &:not(:first-child){
        display: none;
      }
    }
 
   
    
  }
}
