.mashup-overlays{
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 0px;
    border: 0px;
    width: 100%;
    height: 100vh;
    max-width:none;
    background-color: transparent;
    .mashup-overlay-background{
        position: fixed;
        width: 100%;
        height: 100vh;
        top:0px;
        left:0px;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .popover-container{
        .mashup-contents{
            margin-top: 150px;
            @media(max-width: $mobile + 'px'){
                margin-top: 0px;
            }
            .about-mashups{
                h1{
                    display:flex;
                    align-items:center;
                    font-family: 'din-pro',sans-serif;
                    font-weight: 900;
                    color:$secondary-color;
                    img{
                        max-width: 30px;
                        margin: 0px 20px;
                    }
                }
                h5{
                    margin-bottom:20px;
                }
            }
        }
    }
}