.tnc-page{
    .other-title{
        margin-bottom:40px;
    }
}

.other-pages{
    background-repeat: repeat-y, no-repeat !important;
    background-size: contain, cover !important;
}

.boombox-terms{
    h5.title-blue{
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .order-sublist ol li ol li:last-child{
        margin-bottom:0px;
    }
}