<!-- Start: Mashup Overlay Component -->
mixin mashup-overlay(tunesAvatar, time, tune, subTitle, description)
    .popover.mashup-overlays
        .mashup-overlay-background
            img(src="clientlibs/images/mashups/mashup-overlay-background.jpg")
        .popover-container
            .mashup-contents.container
                .row
                    .avatar.col-12.col-sm-12.col-md-5.col-lg-5
                        img.tunes-avatar(src=tunesAvatar)
                    .about-mashups.col-12.col-sm-12.col-md-7.col-lg-7
                        .scroll-container.details
                            h1=time 
                                img.cross-icon(src="clientlibs/images/mashups/mashup-icon.png")
                                =tune
                            h5=subTitle
                            .description
                                p=description
        button.close-overlay X
<!-- End: Mashup Overlay Component -->    