extends ../layout/page-layout-7
 
block head
    meta(property="og:url", content=domain+"/mashups/1300s_INDIE.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1300s x Indie Music")
    meta(property="og:description", content="Go for a hike in the jungle in early Temasek, leaving the trading post at the coast. Play your Indie mashup and watch the forest come alive.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Indie/img_mashup_1300sxIndie@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=01'")
    title 1300s x Indie Music

