extends ../layout/page-layout-7
 
block head
    meta(property="og:url", content=domain+"/mashups/1300s_ELECTRONIC.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1300s x Electronic Music")
    meta(property="og:description", content="Imagine a rave in the 1300s in a young Temasek, with the sounds of the flute soaring from the jungle near the coast.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Electronic/img_mashup_1300xElectronic@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=03'")
    title 1300s x Electronic Music
