extends ../layout/page-layout-7

block head
    meta(property="og:url", content=domain+"/mashups/1300s_JAZZ.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1300s x Jazz Music")
    meta(property="og:description", content="Cue crickets chirping in the night by the edge of the Temasek inlands. Along with this Jazz tune, flutes and gamelan gongs of the time.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Jazz/img_mashup_1300xJazz@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=02'")
    title 1300s x Jazz Music
