extends ../layout/page-layout-7

block head
    meta(property="og:url", content=domain+"/mashups/1300s_URBAN.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1300s x Urban Music")
    meta(property="og:description", content="In early Temasek, spiritual vocal chants of Riau tribes can be heard by the waterside at night. The soundscape features ethnic percussions, the sounds of the water and the monkeys scurrying in the forest.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Urban/img_mashup_1300xUrban@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=04'")
    title 1300s x Urban Music
