extends ../layout/page-layout-7

block head
    meta(property="og:url", content=domain+"/mashups/1400-1700_POP.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1400-1700 x Pop Music")
    meta(property="og:description", content="You stroll through the morning market, the sound of birds chirping and children playing fill the air. A holy man chants and his spiritual melody weaves in and out of the modern pop beat.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Pop/img_mashup_1400-1700xPOP@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=40'")
    title 1400-1700 x Pop Music
