extends ../layout/page-layout-7

block head
    meta(property="og:url", content=domain+"/mashups/1400-1700_JAZZ.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1400-1700 x Jazz Music")
    meta(property="og:description", content="Sounds of sunset in the markets, and fortifications of the 15-16th century kingdom of Singapura. As you hear these activities, the tune of a Pipa and Guzheng improvise loosely and creatively along with your noir jazz beat.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Jazz/img_mashup_1400-1700xJazz@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=42'")
    title 1400-1700 x Jazz Music
