extends ../layout/page-layout-7

block head
    meta(property="og:url", content=domain+"/mashups/1400-1700_ELECTRONIC.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1400-1700 x Electronic Music")
    meta(property="og:description", content="You walk through a 16th-century bazaar, the marketplace sounds start to pulse rhythmically along to a steady house beat. Merchants selling music instruments like the Pipa, Tabla and Portuguese Lute start to play along as you near royal courts and temples.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Electronic/img_mashup_1400-1700xElectronic@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=43'")
    title 1400-1700 x Electronic Music
