extends ../layout/page-layout-7

block head
    meta(property="og:url", content=domain+"/mashups/1400-1700_URBAN.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1400-1700 x Urban Music")
    meta(property="og:description", content="It’s a musical journey in a market full of colour and commerce. Listen to a Buddhist gong and a rooster crowing. Then, feel the tablas synchronising with religious men singing, next to the Arabic Oud (lute), Pipa (Chinese Lute) and nafiri")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Urban/img_mashup_1400-1700xUrban@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=44'")
    title 1400-1700 x Urban Music
