extends ../layout/page-layout-7

block head
    meta(property="og:url", content=domain+"/mashups/1819_POP.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1819 x Pop Music")
    meta(property="og:description", content="The disciplined trot of a horse moves with your music as you take in the sights and the sounds of British Singapore at midday. At night, the Revere Bell calls for closing time.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Pop/img_mashup_1819xPOP@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=30'")
    title 1819 x Pop Music
