extends ../layout/page-layout-7

block head
    meta(property="og:url", content=domain+"/mashups/1819_INDIE.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1819 x Indie Music")
    meta(property="og:description", content="The sound of horse hooves and church bells echo throughout British Singapore, as classical music and western society influences the young newly-found port.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Indie/img_mashup_18195xIndie@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=31'")
    title 1819 x Indie Music
