extends ../layout/page-layout-7

block head
    meta(property="og:url", content=domain+"/mashups/1819_JAZZ.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1819 x Jazz Music")
    meta(property="og:description", content="As Singapore rises, you hear the bustle of development under new British Governance Church bells are prevalent. Horse-trots match the cymbals of the drums of your jazz tune.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Jazz/img_mashup_1819xJazz@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=32'")
    title 1819 x Jazz Music
