extends ../layout/page-layout-7

block head
    meta(property="og:url", content=domain+"/mashups/1900-1945_POP.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1900-1945 x Pop Music")
    meta(property="og:description", content="A more crowded pre-war Singapore is what you hear. A sophisticated sound – vernacular jazz music on a gramophone pulses with silverware clinking, private telephones ringing.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Pop/img_mashup_1900-1945xPOP@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=20'")
    title 1900-1945 x Pop Music
