extends ../layout/page-layout-7

block head
    meta(property="og:url", content=domain+"/mashups/1965-PRESENT_URBAN.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1965-Present x Urban Music")
    meta(property="og:description", content="Press play into Singapore’s modern era – an economically and technologically sound time. Hear a sample of the iconic “Merdeka”, which signified our independence and destiny as a nation.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Urban/img_mashup_1965-PresentxUrban@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=14'")
    title 1965-Present x Urban Music
