extends layout/page-layout-4
 
block head
    meta(property="og:url", content="https://thegreatsingaporereplay.sg/about.html")
    meta(property="og:title", content="The Great Singapore Replay: Season 2")
    meta(property="og:image:secure_url", content="https://thegreatsingaporereplay.sg/clientlibs/images/global/about_og.jpg")
    title The Great Singapore Replay: Season 2 | About
 
block content
    //- .about-background-photo-pattern
    //-     img(src='clientlibs/images/lights/about-background.jpg')
    //- .about-background-photo
    //-     img(src='clientlibs/images/lights/about-background-plain.jpg')
 
    .about-page.body-contents
 
 
        //- .background-pattern-left
        //-     img(src='clientlibs/images/lights/img_motif_abtprog_left1@2x.png')
 
        //- .background-pattern-right
        //-     img(src='clientlibs/images/lights/img_motif_abtprog_left1@2x.png')
 
 
        .container-2
            .page-title(data-aos="fade-up")
                h5 ABOUT THE PROGRAMME
                h3 THE GREAT SINGAPORE REPLAY: SEASON 2
 
       
            .introduction(data-aos="fade-up")
                h5.title-blue Reliving Singapore's History Through Music
 
                p Presented by Temasek, the biennial The Great Singapore Replay (TGSR) is about discovery and collaboration - discovery of Singapore's rich music heritage and the collaboration between established artists and the next generation of aspiring young local talents to create original 'Made-in-Singapore' songs.
                p In its second season, TGSR offers 10 music talents the opportunity to be guided by five established artists in creating 10 new original songs. These songs will be inspired by mashups of distinct tunes, voted by the public, from five iconic eras of Singapore's history and five modern music genres.
                p Discovery and collaboration have always been the heart and soul of TGSR, and this season will have no shortage of either. Expect to see an even bigger collaboration of artists and industry professionals, in this continued effort to nurture Singapore's music scene and showcase our diversity of aspiring young talents.
                p Time to tune in, because music history is about to be written.
                p Working with local music industry players, the selected talents will undergo a professional production experience, comprising song-writing workshop, song arrangement and recording. It will also include the marketing and creating of individual artists' brand, and the launch of their songs on popular digital music streaming platforms.
       
            h5.title-pink(data-aos="fade-up") Presented By
            .row.partner-block(data-aos="fade-up")
                .col-12.col-sm-12.col-md-4
                    .partner-logos(data-aos="fade-up")
                        img(src="clientlibs/images/global/logo-temasek@2x.png")
                .col-12.col-sm-12.col-md-8(data-aos="fade-up")
                    p Temasek is an investment company with a net portfolio value of S$313 billion as at 31 March 2019. Our Temasek Charter roles as an investor, institution and steward shape our investment stance, ethos and philosophy, to do well, do right and do good. We actively seek sustainable solutions to address present and future challenges, as we capture investment and other opportunities that help to bring about a better, smarter and more connected world. As a Trusted Steward, Temasek has gifted 19 philanthropic endowments that make possible outcome-focused programmes that enable individuals, families and communities to achieve sustainable improvements and progress in their lives.
 
                    a(href='https://www.temasek.com.sg') www.temasek.com.sg.
 
                    .d-flex.flex-row.social-icons
                        a(href='https://www.facebook.com/temasekholdings', target="_blank")
                            img(src="clientlibs/images/global/icon-facebook@2x.png")
                        a(href='https://instagram.com/temasekseen/', target="_blank")
                            img(src="clientlibs/images/global/icon-instagram@2x.png")
                        a(href='https://twitter.com/Temasek', target="_blank")
                            img(src="clientlibs/images/global/icon-twitter@2x.png")
                        a(href='https://www.youtube.com/user/TemasekDigital', target="_blank")
                            img(src="clientlibs/images/global/icon-youtube@2x.png")
 
 
            .support-title
                h5.title-pink(data-aos="fade-up") Supported By
                .row
                    .col-6.col-sm-6.col-md-4
                        .special-logos(data-aos="flip-up")
                            img(src='clientlibs/images/logos/logo-sony@2x.png')
                    .col-6.col-sm-6.col-md-4
                        .special-logos(data-aos="flip-up")
                            img(src='clientlibs/images/logos/logo-universal@2x.png')
                    .col-6.col-sm-6.col-md-4
                        .special-logos(data-aos="flip-up")
                            img(src='clientlibs/images/logos/logo-warner@2x.png' style="margin-left:-16px")
                    .col-6.col-sm-6.col-md-4
                        .special-logos(data-aos="flip-up")
                            img(src='clientlibs/images/logos/logo-warrierrecords@2x.png')
                    .col-6.col-sm-6.col-md-4
                        .special-logos(data-aos="flip-up")
                            img(src='clientlibs/images/logos/logo-zendyll@2x.png' style="margin-left:-40px")
 
            .support-title.bicentennial
                h5.title-pink(data-aos="fade-up") In Support Of
                .row
                    .col-6.col-sm-6.col-md-4
                        .special-logos(data-aos="flip-up")
                            img(src='clientlibs/images/global/big-logo-SGBicentennial@2x.png')
 
            //- .support-title.special-block
            //-     h5.title-pink(data-aos="fade-up") Special Thanks
            //-     .row
            //-         .col-6.col-sm-6.col-md-4
            //-             .special-logos(data-aos="flip-up")
            //-                 img(src='clientlibs/images/logos/special-logo-01@2x.png')
            //-         .col-6.col-sm-6.col-md-4
            //-             .special-logos(data-aos="flip-up")
            //-                 img(src='clientlibs/images/logos/special-logo-02@2x.png')
            //-         .col-6.col-sm-6.col-md-4
            //-             .special-logos(data-aos="flip-up")
            //-                 img(src='clientlibs/images/logos/special-logo-03@2x.png')
            //-         .col-6.col-sm-6.col-md-4
            //-             .special-logos(data-aos="flip-up")
            //-                 img(src='clientlibs/images/logos/special-logo-04@2x.png')
            //-         .col-6.col-sm-6.col-md-4
            //-             .special-logos(data-aos="flip-up")
            //-                 img(src='clientlibs/images/logos/special-logo-05@2x.png')