extends layout/page-layout-1

block head
    meta(property="og:url", content="https://thegreatsingaporereplay.sg")
    meta(property="og:title", content="The Great Singapore Replay: Season 2")
    meta(property="og:image:secure_url", content="https://thegreatsingaporereplay.sg/clientlibs/images/global/homepage_og.jpg")
    title The Great Singapore Replay: Season 2

block content

    // End: Logo

    // Start: Lights
    //- .spot-lights.body-contents
    //-     .spot-light-left.infinite
    //-         img(src="clientlibs/images/lights/img_spotlight_faded@2x.png")
    //-     .spot-light-right.infinite
    //-         img(src="clientlibs/images/lights/img_spotlight_faded@2x.png")
    //- .background-lights.body-contents
    //-     .pink-blue-light
    //-         img.for-desktop(src="clientlibs/images/lights/home-lights.png")
    //-         img.for-mobile(src="clientlibs/images/home-page/home-background-mobile.jpg")
    // End: Lights

    // Start: Slider
    .home-slider.body-contents

        .slider-item
            .home-slider-item
                .item-content-block.mentors-slide
                    .image-block
                        .inner-block
                            img.for-desktop(src="clientlibs/images/home-page/carousel/artists-desktop.png")
                            img.mentors-mobile.for-mobile(src="clientlibs/images/home-page/carousel/artists-mobile.png")
                            //- .fog-light
                            //-     img(src="clientlibs/images/home-page/stere-background-blur.png")
                    .text-block
                        .text-content
                            h5 THE BIG REVEAL
                            h3 MEET THE ASPIRING MUSIC TALENTS
                            p 230 submissions over 3 weeks. Meet our 10 aspiring music acts who will be participating in Season 2 of The Great Singapore Replay. See who they are here.

                            .expanding-btn
                                //- a(href="/open-call.html" , id="join-opencall-cta-home") Join the Open Call
                                a(href="/artists/" , id="artists") MEET THE MUSIC ACTS

                            //- a(href="/singapore-finest-artists.html" id="artistdetails") Get To Know The Artists

        .slider-item
            .home-slider-item
                .item-content-block
                    .image-block.second-image
                        .video-box
                            img.animated-logo(src='clientlibs/images/global/tgsr_logo_home.gif')
                            img.boombox-image.for-desktop(src="clientlibs/images/home-page/carousel/mashups-desktop.png")

                            img.boombox-image-mobile.for-mobile(src="clientlibs/images/home-page/carousel/mashups-mobile.png")

                            .video-block.for-desktop
                                //- img(src='clientlibs/videos/video_thumbnail.jpg')
                                video(width='400', autoplay, muted, loop, poster='clientlibs/videos/video_thumbnail.jpg')
                                    source(src='clientlibs/videos/tgsr_boombox.MP4', type='video/mp4')
                                    |   Your browser does not support HTML5 video.


                        //- .stage-1.for-desktop
                        //-     img.aos-animate(src="clientlibs/images/home-page/motif@2x.png", data-aos="zoom-in-down",  data-aos-easing="ease-out-cubic", data-aos-duration="2000")
                        //-     .fog-light
                        //-         img(src="clientlibs/images/home-page/stere-background-blur.png")
                    .text-block.second-text
                        .text-content
                            h5 10 FAVOURITE MASHUPS 
                            h3 SINGAPORE MIXED AND VOTED
                            p These are the 10 mashups voted by the public and Singapore's finest artists that will be used to inspire the 10 aspiring music acts to create their original Made-in-Singapore songs. 

                            .expanding-btn
                                a(href="/mashup-gallery/" , id="mashups") VIEW THE MASHUPS

                            //- a(href='/times-tunes.html') Experience The Times & Tunes


        
    // End: Slider