extends layout/page-layout-4b
 
block head
    meta(property="og:url", content="https://thegreatsingaporereplay.sg/about.html")
    meta(property="og:title", content="The Great Singapore Replay: Season 2")
    meta(property="og:image:secure_url", content="https://thegreatsingaporereplay.sg/clientlibs/images/global/about_og.jpg")
    title The Great Singapore Replay: Season 2 | About
 
block content
    //- .about-background-photo-pattern
    //-     img(src='clientlibs/images/lights/about-background.jpg')
    //- .about-background-photo
    //-     img(src='clientlibs/images/lights/about-background-plain.jpg')
 
    .about-page.body-contents.tnc-page
 
 
        //- .background-pattern-left
        //-     img(src='clientlibs/images/lights/img_motif_abtprog_left1@2x.png')
 
        //- .background-pattern-right
        //-     img(src='clientlibs/images/lights/img_motif_abtprog_left1@2x.png')
 
 
        .container-2
            .page-title.other-title(data-aos="fade-up")
                h5 THE GREAT SINGAPORE REPLAY 
                h3 PRIVACY AND COOKIE NOTICE

 
            .order-sublist
                ol.main-list
                    li(data-aos="fade-up")
                        h5.title-blue GENERAL
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | Temasek Capital Management Pte. Ltd. ("Temasek") is committed to protecting and respecting your privacy.
                            
                            li(data-aos="fade-up")
                                p 
                                    | This Privacy Statement (together with our Terms of Use and any other documents referred to in it) sets out (i) the basis on which we will process any personal data we collect from you, or that you provide to us; and (ii) information on our use of cookies. Please read the following carefully to understand our views and practices regarding cookies, your personal data, and how we will treat such information.
                            
                            li(data-aos="fade-up")
                                p 
                                    | By visiting our website and/or providing us with your personal data, you consent to our collection, use, disclosure and processing of your personal data in accordance with this Privacy Statement. If you do not accept this Privacy Statement, please DO NOT provide any personal data to us.
                            
                            li(data-aos="fade-up")
                                p 
                                    | This Privacy Statement supplements but does not supersede or replace any other consents you may have provided to us, or any other agreements or arrangements that you may have with us, in respect of your personal data.

                           

            
                    li(data-aos="fade-up")
                        h5.title-blue COLLECTION AND PROCESSING OF PERSONAL DATA
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | You can use and browse our website without having to disclose your personal data, except as may be necessary to allow us to respond to your requests or in cases where you contact us directly.
                            
                            li(data-aos="fade-up")
                                p
                                    | We collect personal data (which may include sensitive personal data) that is relevant to our business relationship with you. We may collect your personal data directly or indirectly through various channels, such as:-

                                ol
                                    li(data-aos="fade-up")
                                        p 
                                        | when you provide it to us, through registration, completion of forms, emails, enquiries and requests, and similar situations in which you have chosen to provide the information to us; or
                                    li(data-aos="fade-up")
                                        p
                                        | by way of a third party who has been duly authorised by you ("authorised representative") to disclose your personal data to us after (i) you (or your authorised representative) have been notified of the purposes for which the data is collected; and (ii) you (or your authorised representative) have provided written consent to the collection and use of your personal data for those purposes.
                                    
                            
                            li(data-aos="fade-up")
                                p
                                    | Depending on your relationship with us, we may also collect your personal data from third party sources, for example:
                                
                                ol
                                    li(data-aos="fade-up")
                                        p 
                                        | from our business partners such as third parties providing advertising, marketing and promotional services to us;
                                    li(data-aos="fade-up")
                                        p
                                        | from your family members or friends who provide your personal data to us on your behalf; and/or

                                    li(data-aos="fade-up")
                                        p
                                        | from public agencies or other public sources.
                            
                            li(data-aos="fade-up")
                                p
                                    | The information you give us may include, but is not limited to, your name, contact number, age, web video link, address and email. If you choose not to provide such information, it may not be possible for us to respond to your request or enquiry, or provide products or services which you need from us (e.g. your participation in the open call in The Great Singapore Replay Season 2 ("TGSR")). By providing us with personal data, you agree to the terms of this Privacy Statement, and you consent for yourself and on behalf of such other persons to our collection, use and disclosure of personal data on these terms.


                            li(data-aos="fade-up")
                                p
                                    | If you provide the personal data of anyone other than yourself (including your family members), you warrant that you have informed him/her of the purposes for which we are collecting his/her personal data and that he/she has consented to your disclosure of his/her personal data to us for those purposes. You agree to indemnify and hold us harmless from and against any and all claims by such individuals relating to our collection, use and disclosure of such personal data in accordance with the terms of this Privacy Statement.

                            li(data-aos="fade-up")
                                p
                                    | We will retain control of, and responsibility for, the use of any personal data you disclose to us. Such data shall remain in our possession, or that of data intermediaries acting on our behalf.

                            li(data-aos="fade-up")
                                p
                                    | You are responsible for ensuring that all personal data that you provide is true, accurate and complete, and to inform us of any changes to your personal data.
                            
                            li(data-aos="fade-up")
                                p
                                    | If you are below 18 years of age, please obtain consent from your parent or guardian before you submit any personal data to us. If you are a parent or guardian of a minor and you have reason to believe your child or ward has provided us with their personal data without your prior consent, please contact us to request for erasure of their personal data.

                                


                    
                    li(data-aos="fade-up")
                        h5.title-blue PURPOSES
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | We only collect, use, disclose and process your personal data for purposes connected to or relevant to our business, or to manage your relationship with us. All personal data and other information collected may be used by Temasek individually or collectively and may be combined with other information including but not limited to the following purposes (collectively, the "Purposes"):

                                ol
                                    li(data-aos="fade-up")
                                        p 
                                        | carrying out such transactions or taking steps as may be directed by you (e.g. if you register for our Open Call, we may have to disclose your personal data to our affiliates and partners for the purpose of administering the Open Call);
                                    
                                    li(data-aos="fade-up")
                                        p
                                        | registering and performing any obligations in the course of TGSR;

                                    li(data-aos="fade-up")
                                        p
                                        | verifying your identity or your compliance with any of our contractual terms with you;
                                    
                                    li(data-aos="fade-up")
                                        p
                                        | responding to your enquiries or requests pursuant to your emails, telephone calls, faxes and/or submission of form(s);
                                    
                                    li(data-aos="fade-up")
                                        p
                                        | sending you information relating to your participation in TGSR;

                                    li(data-aos="fade-up")
                                        p
                                        | responding to and taking follow-up action on complaints;

                                    li(data-aos="fade-up")
                                        p
                                        | performing office and operational administrative matters following your request;

                                    li(data-aos="fade-up")
                                        p
                                        | seeking feedback and comments on Temasek's business and operational matters; and
                                    
                                    li(data-aos="fade-up")
                                        p
                                        | any other incidental business purposes which is reasonably related to or in connection with the abovementioned purposes.
                                    
                            li(data-aos="fade-up")
                                p
                                    | If you have provided us with your consent, we may send you marketing communications to inform you about our events or our partner events, to deliver targeted marketing, and to provide you with promotional offers based on your communication preferences. We use information about your usage of our services and your contact information to provide marketing communications. We may also share personal data with third parties to help us with our marketing and promotional projects or sending marketing communications.
                            
                            li(data-aos="fade-up")
                                p
                                    | We may also collect, use, disclose and process your personal data for other purposes, without your knowledge or consent, where this is required or permitted by law.


                    li(data-aos="fade-up")
                        h5.title-blue IP ADDRESSES
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | When you use our website, we may collect and store information about your computer (including your IP address, operating system and browser type) for system administration. This is statistical data about our users' browsing actions and patterns. This data could possibly lead to your identification, but we, and our data intermediaries, do not use it to do so unless permitted by law.
                                        

                    li(data-aos="fade-up")
                        h5.title-blue COOKIES
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    strong What is a cookie?
                                p
                                    | Cookies are small files which are placed on your computer when you access a website or app - amongst other things; they help the website user to navigate efficiently between pages and the website operator to track usage of the site. You can find out more about cookies at www.allaboutcookies.org.

                            li(data-aos="fade-up")
                                p
                                    strong Why we use cookies
                                p
                                    | Our website uses cookies to distinguish you from other users of our website by storing, generally non-personally identifiable, information (e.g. session information such as the number of times you visit our website and the location from which you are accessing the website). Note that some limited information is personally identifiable for the purposes of:
                                
                                ol
                                    li(data-aos="fade-up")
                                        p
                                            | managing and customizing your experience on the website;
                                    
                                    li(data-aos="fade-up")
                                        p
                                            | analysing trends and improving our site for our users; and
                                    
                                    li(data-aos="fade-up")
                                        p
                                            | delivering content tailored to your interests and the manner in which you browse our websites.

                                    li(data-aos="fade-up")
                                        p
                                            | Any other information is anonymized and/or aggregated to produce statistical reports that enable us to evaluate the use of our website; and to make improvements to, and increase efficiency when you browse our website.

                            li(data-aos="fade-up")
                                p
                                    strong What do we use cookies for?
                                p
                                    | We use cookies: (i) to track your activities on our website; and (ii) the purposes described in this Privacy Statement, but they will not generally allow us to obtain information of a personal nature such as your name and address. We will only be aware of such information if you provide the information to us or you have set the preferences in your browser to provide this information automatically. We use the information collected to analyse trends and improve our site for our customers, as more particularly described below.

                            li(data-aos="fade-up")
                                p
                                    strong What are my options in relation to the use of cookies?
                                p
                                    | By using our website, you agree to the use of cookies and other technologies as set out in this Privacy Statement. If you do not agree to such use please either refrain from using the relevant website, app or platform, or see the section below "Can you disable cookies?" to adjust your settings. You can find more information about the individual cookies we use and the reasons why we use them in the table below.

                                ul
                                    li 
                                        strong Cookie : 
                                        | Google analytics
                                    
                                    li 
                                        strong Name : 
                                        | _utma, _utmb, _utmc, _utmz
                                    
                                    li 
                                        strong Purpose : 
                                        | These cookies are used to collect information about how visitors use our site. We use the information to compile reports and to help us improve the site. The cookies collect information in an anonymous form, including the number of visitors to the site, where visitors have come to the site from and the pages they visited.
                                    
                                    li 
                                        strong More Information : 
                                        | The cookie is a "third party" cookie. Click here for an overview of privacy and cookie practices at Google

                                
                                ul
                                    li 
                                        strong Cookie : 
                                        | Session management
                                    
                                    li 
                                        strong Name : 
                                        | JSESSIONID
                                    
                                    li 
                                        strong Purpose : 
                                        | This cookie is used primarily to keep the user logged in during a session. The cookie stores information in the form of a session identification that does not personally identify the user. The cookie is a "session cookie". It is stored in temporary memory and is not retained after the browser is closed.
                                    
                                    li 
                                        strong More Information : 
                                        | The cookie is a "session cookie". It is stored in temporary memory and is not retained after the browser is closed.
                                        

                                ul
                                    li 
                                        strong Cookie : 
                                        | Workday Type 1 - Storing a session identifier
                                    
                                    li 
                                        strong Name : 
                                        | Wd-browser-id
                                    
                                    li 
                                        strong Purpose : 
                                        | These cookies are used to keep a user session alive over multiple web page views, and to keep the session aware of what activity is being performed in the session.
                                    li 
                                        strong More Information : 
                                        | The cookie is a "session cookie" and is strictly necessary as part of the SaaS application in order to access Workday. These cookies are not directly identifiable to a user name, IP address, mobile device, computer identification number etc. Instead, unique session ID numbers are generated and used to maintain a session between the browser and the service.

                                ul
                                    li 
                                        strong Cookie : 
                                        | Workday Type 2 - Saving application state to the user during the user’s session
                                    
                                    li 
                                        strong Name : 
                                        | WorkdayLBUI- Apache
                                    
                                    li 
                                        strong Purpose : 
                                        | These cookies are used to keep a user session alive over multiple web page views, and to keep the session aware of what activity is being performed in the session.
                                    
                                    li 
                                        strong More Information : 
                                        | The cookie is a "session cookie" and is strictly necessary as part of the SaaS application in order to access Workday. These cookies are not directly identifiable to a user name, IP address, mobile device, computer identification number etc. Instead, unique session ID numbers are generated and used to maintain a session between the browser and the service.
                                
                                ul
                                    li 
                                        strong Cookie : 
                                        | Workday Type 3 - Storing routing information used by the infrastructure
                                    
                                    li 
                                        strong Name : 
                                        | wd-alt-sessionid
                                    
                                    li 
                                        strong Purpose : 
                                        | These cookies are required to resolve the user to the correct tenant.
                                    
                                    li 
                                        strong More Information : 
                                        | This cookie is strictly necessary as part of the SaaS application in order to access Workday. If a user disables the Web browser’s ability to accept the cookies, the user will not be able to successfully use Workday’s service.

                            li(data-aos="fade-up")
                                p
                                    strong Can you disable cookies?
                                p
                                    | Yes, your browser will enable you to disable, control or delete cookies if you wish. Further information can be found in the "Help" section of your browser or at www.allaboutcookies.org. However, you should note that if you choose to do this, it may have an impact on the quality of your browsing experience.
                            li(data-aos="fade-up")
                                p
                                    | Please note that changing these settings may limit the functionality of some web pages or prevent them from loading properly. Additionally, the major browsers have attempted to implement the draft "Do Not Track" (DNT) standard of the World Wide Web Consortium in their latest releases. As this standard has not been finalized, this website is not compatible with DNT and does not process DNT messages. To opt out of being tracked by Google Analytics across all websites visit 
                                    a(href="http://tools.google.com/dlpage/gaoptout") http://tools.google.com/dlpage/gaoptout.



                    li(data-aos="fade-up")
                        h5.title-blue THIRD PARTY WEBSITES
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | Our website may, from time to time, contain links to and from third party websites. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites.

                            li(data-aos="fade-up")
                                p
                                    | Third parties (including, for example, advertising networks and providers of external services like Google Analytics) may use cookies which are downloaded when you visit our site. These cookies are likely to be analytical, performance or targeting cookies.
                    

                    li(data-aos="fade-up")
                        h5.title-blue DISCLOSURE OF YOUR PERSONAL DATA
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | In order to achieve the Purposes as set out in Clause 3 above, we may have to disclose or share your personal data to any member of our group, affiliates, partners (in particular, our programme partners of TGSR), agents, sub-contractors and also third parties who provide necessary services to us, including our service providers (e.g. campaign agencies) and data processors (providing services such as hosting and maintenance services, analysis services, e-mail messaging services, delivery services, handling of payment transactions, marketing, human resources, and professional services). You hereby authorize us to transfer your personal data to such third parties, who will process your personal data in accordance with this Privacy Statement. Your personal data will not be disclosed to any further parties, unless we have obtained your consent or are legally required to do so.

                            li(data-aos="fade-up")
                                p
                                    | We may also disclose your personal data as required or permitted by law, including to regulatory authorities, statutory bodies or public agencies for the purposes of complying with their respective requirements, policies and directives.

                    
                    li(data-aos="fade-up")
                        h5.title-blue WHERE WE STORE YOUR PERSONAL DATA
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | The data that we collect from you may be transferred to, and stored at, a destination outside Singapore. It may also be processed by staff operating outside Singapore who work for us or for one of our service providers.
                            
                            li(data-aos="fade-up")
                                p
                                    | By submitting your personal data, you agree to this transfer, storing and processing. Temasek will take appropriate steps to ensure that your data is treated securely and in accordance with this Privacy Statement.

                    li(data-aos="fade-up")
                        h5.title-blue SECURITY
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | We use technical and organisational security precautions to protect your data from unauthorised access, collection, use, disclosure, copying, modification, disposal or similar risk. Our security procedures are continuously revised based on new technological developments. Notwithstanding the foregoing, while precautions will be taken to ensure that the personal data you provide is protected against unauthorised or unintended access, we cannot be held responsible for unauthorised or unintended access that is beyond our control.
                            
                    
                    li(data-aos="fade-up")
                        h5.title-blue DATA RETENTION
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | We retain your personal data for as long as necessary for the fulfilment of the purposes for which it was collected or to which you have given your consent, except where otherwise provided for by law.

                    li(data-aos="fade-up")
                        h5.title-blue RIGHT TO WITHDRAW CONSENT, REQUEST ACCESS TO, AND CORRECTION OF PERSONAL DATA
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | You have the right to withdraw consent, request access to, and correction of personal data that Temasek holds about you in accordance with applicable laws.
                            
                            li(data-aos="fade-up")
                                p
                                    | All requests for the withdrawal of consent, access to, or correction of personal data held by Temasek shall be made by completing Temasek's standard request form (form available here), and sending a copy of the duly completed form to Temasek via post at:
                                ul(data-aos="fade-up")
                                    li
                                        strong Attention:
                                        | Temasek Data Protection
                                    li Temasek International Pte Ltd
                                    li 60B Orchard Road #06-18 Tower 2
                                    li The Atrium@Orchard
                                    li Singapore 238891

                    li(data-aos="fade-up")
                        h5.title-blue CHANGES TO OUR PRIVACY STATEMENT
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | This Privacy Statement may be amended, supplemented, modified and updated from time to time. Please check back regularly for any updates.

                    li(data-aos="fade-up")
                        h5.title-blue CONTACT
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | Questions, comments, complaints and requests regarding your personal data or this Privacy Statement should be addressed to our Data Protection Officer at dataprotection@temasek.com.sg. 
                                    a(href="mailto:dataprotection@temasek.com.sg?Subject=Data%20Protection") dataprotection@temasek.com.sg