extends layout/page-layout-4b
 
block head
    meta(property="og:url", content="https://thegreatsingaporereplay.sg/about.html")
    meta(property="og:title", content="The Great Singapore Replay: Season 2")
    meta(property="og:image:secure_url", content="https://thegreatsingaporereplay.sg/clientlibs/images/global/about_og.jpg")
    title The Great Singapore Replay: Season 2 | About
 
block content 
    .about-page.body-contents.tnc-page
        .container-2
            .page-title.other-title(data-aos="fade-up")
                h5 THE GREAT SINGAPORE REPLAY 
                h3 WEBSITE TERMS OF USE
                br
                br
                p Please read these terms of use carefully before using this Website. In these terms, "Website"refers to our website, including any information, services, contents, functionalities, (including Create Your Own Mash-Up segment of our website), products or features that form part of such website.
 
            h5 PART A - GENERAL TERMS TO THIS WEBSITE
            .order-sublist
                ol.main-list
                    li(data-aos="fade-up")
                        h5.title-blue GENERAL
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | All access of any part of 
                                    a(href="https://thegreatsingaporereplay.sg/") https://thegreatsingaporereplay.sg/ 
                                    | ("Website") is governed by the terms below. In these terms, the words "Temasek", "we", "our"and "us"refer to Temasek Capital Management Pte. Ltd; and "you", "your"and the "user"refers to any person and/or entity accessing and/or using the Website. 
                            
                            li(data-aos="fade-up")
                                p 
                                    | By browsing, accessing and/or using the Website, you signify you have read and accept these terms of use. If you do not agree to these terms of use, please exit our Website, and refrain from any further use and/or access to our Website. The user is responsible for compliance with all applicable laws and regulations in any jurisdiction.
                            
                            li(data-aos="fade-up")
                                p 
                                    | We may amend these terms from time to time. Amendments shall take effect from the date the amended terms are published at 
                                    a(href="https://thegreatsingaporereplay.sg/.") https://thegreatsingaporereplay.sg/. 
                                    | If you use or access our Website after such amendments, you agree to the amended terms and to be bound by them. It is your responsibility to check for the latest version of the terms.
                            
                            li(data-aos="fade-up")
                                p 
                                    | We may from time to time publish additional guidelines, rules, and conditions applicable to your use of our Website. You agree to comply with these additional guidelines, rules and conditions, which are incorporated by reference into these terms.

                            li(data-aos="fade-up")
                                p 
                                    | These terms only govern our provision and your use of our Website. Certain transactions and activities, including the provision of services or products may be performed or facilitated through our Website (e.g. Open Call) may be subject to separate terms and conditions that you have to accept in order to enter into these transactions or perform these activities.

            
                    li(data-aos="fade-up")
                        h5.title-blue NO OBLIGATION TO SUPPORT OR MAINTAIN
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | We have no obligation to provide, or continue to provide our Website, or any part thereof, now or in the future. We reserve the right, at any time, temporarily or permanently, in whole or in part, without prior notification and without incurring any liability to you, to: modify, suspend or discontinue our Platforms; charge for the use of our Website; restrict or modify access to our Website; and modify and/or waive any charges in connection with our Website.
                            
                            li(data-aos="fade-up")
                                p
                                    | We have no obligation to provide any maintenance, support or other services in relation to the Website, including providing any telephone assistance, documentation, error corrections, updates, upgrades, bug fixes, patches, and/or enhancements.
                            
                            li(data-aos="fade-up")
                                p
                                    | If and when we provide maintenance, support or other services in relation to our Website, your access and use of our Website may be interrupted, suspended or restricted.

                    
                    li(data-aos="fade-up")
                        h5.title-blue RESTRICTIONS ON USE OF MATERIALS
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | The Website (including, for the avoidance of doubt, all materials located therein, logos, trade marks, service marks, domain names, trade names, designs, contents made available through our Website (including pages, documents and online graphics, audio and video), the source and object codes, and the format, directories, queries, algorithms, structure and organisation of our Website), are proprietary to us, and all intellectual property rights associated therewith, whether registered or not, are protected by law and owned by or licensed to us.
                            
                            li(data-aos="fade-up")
                                p
                                    | References to any names, marks, products or services of third parties do not necessarily constitute or imply Temasek's endorsement, sponsorship or recommendation of the third party, information, product or service. To the maximum extent permitted by law, we are not responsible and disclaim all liability for (A) such third party products, services, websites; (B) for any act or omission of these third parties, or (C) any dealings between you and these third parties, whether or not such dealings have been performed or facilitated through our website.
                            
                            li(data-aos="fade-up")
                                p
                                    | No material, graphic or image from the Website may be appropriated or modified in any manner, or reproduced, republished, uploaded, posted, transmitted or distributed in any way, without the prior written permission of Temasek.

                            li(data-aos="fade-up")
                                p
                                    | No party is permitted to establish links to the Website without prior written permission from Temasek. Temasek reserves all right to deny permission for any such links. Temasek is not under any obligation to establish reciprocal links with any third party. Nothing contained herein confers any license or right under any copyright, patent, trademark or other proprietary rights of Temasek or any third party.

                            li(data-aos="fade-up")
                                p
                                    | Neither Temasek, any of its affiliates, subsidiaries, employees, agents, partners, principals and representatives nor any other person is, in connection with this site, engaged in rendering auditing, accounting, tax, legal, advisory, consulting or other professional services or advice. Each user agrees not to use the content of the Website as a substitute for independent investigations and competent judgment of the user of the Website and such user shall obtain professional advice tailored to his particular factual situation. Each user is responsible for all matters arising from its use of the Website.

                            li(data-aos="fade-up")
                                p
                                    | You agree to use the Website in accordance with these terms of use and for lawful and proper purposes and shall not:-
                                ol
                                    li(data-aos="fade-up")
                                        p 
                                        | modify, adapt, improve, enhance, alter, translate or create derivative works of our Website;
                                    li(data-aos="fade-up")
                                        p
                                        | use or merge our Website, or any component or element thereof, with other software, databases or services not provided by our Website;
                                    
                                    li(data-aos="fade-up")
                                        p
                                        | reverse engineer, decompile, disassemble or otherwise attempt to derive the source code or structure of our Website, or decrypt our Website;

                                    li(data-aos="fade-up")
                                        p
                                        | interfere in any manner with the operation of our Website;

                                    li(data-aos="fade-up")
                                        p
                                        | circumvent, or attempt to circumvent, any electronic protection measures in place to regulate or control access to our Website;

                                    li(data-aos="fade-up")
                                        p
                                        | create a database by systematically downloading and storing our Website;
                                    
                                    li(data-aos="fade-up")
                                        p
                                        | use any robot, spider, site search/retrieval application or other manual or automatic device to retrieve, index, "scrape", "data mine", "crawl"or in any way gather our Website or reproduce or circumvent the navigational structure or presentation of our Website;

                                    li(data-aos="fade-up")
                                        p
                                        | upload, post, email, transmit or otherwise make available any content that is unlawful, harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable or which creates liability on Temasek's part;

                                    li(data-aos="fade-up")
                                        p
                                        | upload, post, email, transmit or otherwise make available any unsolicited or unauthorized advertising, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation, except in those areas (such as shopping rooms) that are designated for such purpose;
                                    
                                    li(data-aos="fade-up") 
                                        p
                                        | upload, post, email, transmit or otherwise make available any material that contains software viruses or any other computer code, files or programmes designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment; or

                                    li(data-aos="fade-up")
                                        p
                                        | interfere or attempt to interfere with the operation or functionality of the Website; or obtain or attempt to obtain unauthorized access, via whatever means, to any of Temasek's systems.

                    li(data-aos="fade-up")
                        h5.title-blue THIRD PARTY POSTINGS AND HYPERLINKS TO THIRD PARTY WEBSITES
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | The Website may contain hyperlinks to other websites ("External Sites") which are neither maintained nor controlled by Temasek, or may contain content posted on or via the Website by third parties. Temasek shall not be responsible for any errors or omissions in any content in the Website, or the content, products or services of any hyperlinked External Site or any hyperlink contained in a hyperlinked External Site, nor for the privacy and security practices employed by these External Sites, and under no circumstances shall Temasek be liable for any loss or damage of any kind incurred as a result of the use of any content posted or contained in e-mails or otherwise transmitted or displayed via the Website, or arising from access to External Sites. Use of the Website and any hyperlinks and access to External Sites are entirely at the user's own risk.

                            li(data-aos="fade-up")
                                p
                                    | The user acknowledges that Temasek has no control over and excludes all liability for any material on the Internet which can be accessed by using the Website. Neither will Temasek be deemed to have endorsed any such content thereto.
                                        

                    li(data-aos="fade-up")
                        h5.title-blue COOKIES
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | Temasek takes certain industry-accepted precautions to secure the Website or portions thereof. However, the user understands and agrees that such precautions cannot guarantee that use of the Website is invulnerable to security breaches, nor does Temasek make any warranty, guarantee, or representation that use of the Website is protected from all viruses, worms, Trojan horses, and other vulnerabilities.

                            li(data-aos="fade-up")
                                p
                                    | During your use of the Website, Temasek may issue to and request from the user's computer "cookies" to enable more convenient browsing when the user revisits the Website. The user must not alter any cookies sent to his/her computer from the Website and must ensure that the user's computer sends correct and accurate cookies in response to any relevant request from the Website.

                    li(data-aos="fade-up")
                        h5.title-blue PERSONAL DATA
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | Temasek is committed to protecting and respecting your personal data.

                            li(data-aos="fade-up")
                                p
                                    | Your personal data may be collected by us when you access and use our Website. You consent to our collection, use, disclosure and processing of your personal data in accordance with the TGSR Privacy & Cookie Notice (made available at 
                                    a(href="privacy.html") https://thegreatsingaporereplay.sg/privacy.html).
                    

                    li(data-aos="fade-up")
                        h5.title-blue NO REPRESENTATION OR WARRANTIES
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | While every effort has been made to ensure that the information provided in this website herein is up to date and accurate, Temasek and its affiliates, subsidiaries, employees, agents, partners, principals and representatives make no representation or warranty of any kind either express or implied as to the completeness, correctness, accuracy, suitability, reliability or otherwise of the website or its content in this website or the results of its use for any purpose, all of which is provided "as is" and "as available". They do not warrant that this website or this server that makes it available is free of any virus or other harmful elements.

                            li(data-aos="fade-up")
                                p
                                    | Temasek and its affiliates, subsidiaries, employees, agents, partners, principals and representatives disclaim all warranties and obligations relating to this website, including but not limited to all implied warranties and obligations of merchantability, fitness for a particular purpose, title and non-infringement.

                            li(data-aos="fade-up")
                                p
                                    | Your access and use of our Website is voluntary and at your sole risk. You are solely responsible for: (a) your reliance on our Website and its contents; (b) any liability or damage that you may incur through use of our Website and its contents; and (c) for all decisions or actions resulting from your access and use of our Website and its contents.
                    
                    li(data-aos="fade-up")
                        h5.title-blue LIMITATION OF LIABILITY
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | The information contained herein in this website shall be accessed and used at the user's own risk and to the fullest extent permissible and subject and pursuant to all applicable laws and regulations. Temasek and its affiliates, subsidiaries, employees, agents, partners, principals and representatives shall not be liable for any direct, indirect, incidental, special, exemplary, consequential or other damages whatsoever, (including but not limited to liability for loss of use, data or profits), including but not limited to contract, negligence or other tortious actions, arising out of or in connection with this site, even if any of Temasek and its affiliates, subsidiaries, employees, agents, partners, principals and representatives has been advised of the possibility of such damages or losses that were, are being or will be incurred.

                    li(data-aos="fade-up")
                        h5.title-blue USER ACKNOWLEDGEMENTS
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | The user acknowledges and agrees that for our Website to function, it may require a compatible device (including a mobile or computing device), appropriate third party software (such as browsers), and also connectivity to the internet. You are solely responsible for obtaining such device(s), software, and the necessary connectivity services to access and use our Website. We assume no responsibility for such devices, software and services, or for any functionality of our Website which are dependent on them to operate.
                            
                            li(data-aos="fade-up")
                                p
                                    | You will indemnify and at all times keep us and our related corporations and affiliates (including respective officers, directors, employees and agents) indemnified against any and all losses, damages, actions, proceedings, costs, expenses, claims, demands, liabilities (including full legal costs) which may be suffered or incurred by us or asserted against us by any person, party or entity whatsoever, in respect of any matter or event whatsoever arising out of or in connection with your breach of any provision in these terms, your access and use of our Website, or your violation of the rights of any third party.

                    
                    li(data-aos="fade-up")
                        h5.title-blue PARTICIPATION IN ANY CONTESTS AND/OR PROMOTIONAL ACTIVITIES ON OUR WEBSITE
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | Notwithstanding Clause 1.5 above, all employees (including their immediate family members) of (i) Temasek; (ii) Temasek's affiliates, partners and/or vendors involved in The Great Singapore Replay ("TGSR"); and (iii) such persons as Temasek deems in its sole discretion to be involved in TGSR, are not eligible to participate in any contests, marketing campaign and/or promotional activities that may be offered or made available on the Website.

                    li(data-aos="fade-up")
                        h5.title-blue MODIFICATIONS
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | Temasek reserves all rights to make any and all changes in this website at its sole discretion without prior notice to the user. Temasek reserves the right to deny access to this website to anyone at any time without prior notice. Materials on our website may include technical inaccuracies or typographical errors. Changes may be periodically incorporated into this material. Temasek may make improvements and/or changes in the products, services and/or programmes described in these materials at any time without notice.

                    li(data-aos="fade-up")
                        h5.title-blue SUGGESTIONS, COMMENTS AND FEEDBACK
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | Should the user respond to any part of the materials contained herein in this website with any communications including feedback data, such as questions, comments, suggestions, or the like, such information shall be deemed to be non-confidential and Temasek and its affiliates, subsidiaries, employees, agents, partners, principals and representatives shall have no obligation whatsoever with respect to such communications and shall be free to reproduce, use disclose and distribute the information to others without limitation, and shall be free to use in any way for any purpose whatsoever the content of such communications including any ideas, know-how, techniques or concepts disclosed therein.

                    li(data-aos="fade-up")
                        h5.title-blue REPORTING VIOLATIONS
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | If you discover any content on our Website that you believe infringes your intellectual property rights or which is otherwise illegal, offensive, defamatory, obscene, you may report such content to us at 
                                    a(href="mailto:tgsr@temasek.com.sg?Subject=Reporting%20Violations") tgsr@temasek.com.sg
                            
                            li(data-aos="fade-up")
                                p
                                    | Your report should contain at least the following information: (a) clear identification of the specific content complained of, including details of where such content can be located; (b) where applicable, clear description of your intellectual property or any other right or law that you claim has been infringed; (c) reasons to support your belief that the content infringes your intellectual property rights or is otherwise illegal, offensive, defamatory, obscene; and (d) your contact details including your name, address, telephone number, email address and your user name (if applicable). We may request for such additional information or documents as we deem fit to evaluate your report. You warrant and represent that all information provided in connection with such report shall be true, accurate and complete.


                
                    li(data-aos="fade-up")
                        h5.title-blue APPLICABLE LAW AND JURISDICTION
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | The law applicable to the terms of use of this website is the law of the Republic of Singapore and the courts of the Republic of Singapore will have exclusive jurisdiction in case of any dispute. Any claim you may have against us in connection with these terms or your access and use of our Website must be commenced within one (1) year from the claim arising. 
                                    
                    li(data-aos="fade-up")
                        h5.title-blue MISCELLANEOUS
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | Our Website is controlled and operated by us from Singapore, and is not intended to subject us to the laws or jurisdiction of any state, country or territory other than that of Singapore. We do not represent or warrant that our Website is appropriate or available for use in any particular jurisdiction other than Singapore.


                            li(data-aos="fade-up")
                                p
                                    | If any provision of these terms is found to be unlawful, void or for any reason unenforceable, that provision will be deemed severable from these terms and will not affect the validity and enforceability of the remaining provisions. These terms constitute the entire agreement between you and us relating to the subject matter herein and supersede any and all prior or contemporaneous written or oral representations (including information found on our Platforms). Our failure to insist upon or enforce strict performance of any provision of these terms shall not be construed as a waiver of any provision or right. A person who is not a party to these terms shall have no right under the Contracts (Rights of Third Parties) Act (Cap. 53B) to enforce these terms. You may not assign your rights or obligations under these terms. We may assign our rights or obligations under these terms to any third party at any time without your consent or notice to you.

                    h5 PART B - ADDITIONAL TERMS IN RELATION TO WEEKLY MASHUP VOTING
                    li(data-aos="fade-up")
                        h5.title-blue ABOUT THE CAMPAIGN
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | In addition to the terms in Part A above, the terms in this Part B (collectively, "Campaign Terms") applies to you if you participate in our Weekly Mashup Voting ("Campaign").
                                    | The Campaign will be made available on our Website. The details of the weekly campaign ("Weekly Campaigns") are set out below:-
                                ul
                                    li 
                                        strong Weekly Campaigns : 
                                        |  Weekly Campaign 1
                                    li
                                        strong Qualifying Period : 
                                        |  22 October 2019 to 27 October 2019 23.59 PM

                                ul  
                                    li 
                                        strong Weekly Campaigns : 
                                        |  Weekly Campaign 2
                                    
                                    li
                                        strong Qualifying Period : 
                                        |  28 October 2019 to 03 November 2019 23.59 PM
                                
                                ul
                                    li 
                                        strong Weekly Campaigns : 
                                        |  Weekly Campaign 3
                                    li
                                        strong Qualifying Period : 
                                        |  04 November 2019 to 10 November 2019 23.59 PM

                            li(data-aos="fade-up")
                                p
                                    | By participating in the Campaign, you agree to be bound by and to comply with the Campaign Terms. We may, at our sole discretion and without prior notice, vary, modify or amend the Campaign Terms. The amended Campaign Terms will replace the original Campaign Terms.
                            
                            li(data-aos="fade-up")
                                p
                                    | We reserve the right to withdraw, discontinue, postpone or terminate the Campaign without prior notice. We shall not be liable for any loss, damage or expenses incurred as a result.

                            li(data-aos="fade-up")
                                p
                                    | Non-compliance with or breach of any of these Campaign Terms may disqualify your participation in this Campaign, and any prizes won may be forfeited, withheld, withdrawn or reclaimed by us.

                    li(data-aos="fade-up")
                        h5.title-blue ELIGIBILITY
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | Persons in the following categories are not eligible to participate in the Campaign:-
                                ol
                                    li(data-aos="fade-up")
                                        p
                                            | all persons identified in Clause 10.1 above; and
                                    
                                    li(data-aos="fade-up")
                                        p
                                            | persons who do not reside in Singapore.
                            
                            li(data-aos="fade-up")
                                p
                                    | You will be entitled into each week's Weekly Campaign upon the completion of the following activities ("Entry"):-
                                ol
                                    li(data-aos="fade-up")
                                        p
                                            | voting for your favourite mash-up on our Website;
                                    
                                    li(data-aos="fade-up")
                                        p
                                            | answering such questions as we may publish on our Website; and
                                    
                                    li(data-aos="fade-up")
                                        p
                                            | providing us with such necessary information as we may request from you.
                            
                            li(data-aos="fade-up")
                                p
                                    | Subject to your compliance with these terms, there is no restriction as to how many Entries you can obtain arising out of or in connection with your participation in this Campaign.
                               
                            li(data-aos="fade-up")
                                p
                                    | We have the sole discretion to determine the validity of your Entry. We will not entertain any Entry that was obtained as a result of any hacking, compromise and/or breach of our IT systems (whether inadvertently or intentionally), or in breach of any of these terms.
                               

                    li(data-aos="fade-up")
                        h5.title-blue PRIZES
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | You may win any of the following prizes for the Weekly Campaigns:-
                                
                                ul
                                    li 
                                        strong Qualifying Period : 
                                        |  Weekly Campaign 1
                                    li
                                        strong Prize : 
                                        |  Ultimate Ears Wonderboom 1, Marshall Major III headphones, Google home mini

                                ul  
                                    li 
                                        strong Qualifying Period : 
                                        |  Weekly Campaign 2 
                                    
                                    li
                                        strong Prize : 
                                        |  Ultimate Ears Wonderboom 1, Marshall Major III headphones, Google home mini
                                
                                ul
                                    li 
                                        strong Qualifying Period : 
                                        |  Weekly Campaign 3
                                    li
                                        strong Prize : 
                                        |  Ultimate Ears Wonderboom 1, Marshall Major III headphones, Google home mini

            

                            li(data-aos="fade-up")
                                p
                                    | The Prizes are not replaceable (whether in whole or in part), exchangeable or redeemable for cash or in-kind.
                            
                            li(data-aos="fade-up")
                                p
                                    | The images of Prizes on all marketing materials are for illustration purposes only. Actual products may be different from the images shown. Prizes cannot be assigned, transferred, redeemed for cash or substituted. We will not replace any lost or stolen Prizes.

                            li(data-aos="fade-up")
                                p
                                    | We may, in our sole and absolute discretion and without prior notice, substitute, withdraw, add to or alter any of the Prizes offered with another of comparable value if the Prize is unavailable.

                            li(data-aos="fade-up")
                                p
                                    | The value of the Prize shall be solely determined by us.

                            li(data-aos="fade-up")
                                p
                                    | The Prizes may be subject to the terms and conditions of the respective third party manufacturer, supplier and/or distributor (if any). We shall not be liable for any separate terms and conditions as may be imposed by such third parties for the use of the Prizes.

                            li(data-aos="fade-up")
                                p
                                    | Taxes, if any, related to a Prize are the sole responsibility of the Prize winner. We accept no responsibility for any tax or other liability that may arise from the Prize winnings.

                            li(data-aos="fade-up")
                                p
                                    | The Prizes are provided on "as is", "with all faults"and "as available"basis. We do not warrant, represent or guarantee the usability or quality of the Prizes that the claims made by the manufacturers, suppliers and/or distributors of those Prizes are accurate. To the fullest extent permitted by the law, We disclaim all warranties (whether express or implied) including but not limited to warranties that the Prizes will meet the Prize winners' requirements, warranties of satisfactory quality, warranties of merchantability or fitness for a particular purpose. All warranty claims in regards to a Prize should be directed to the applicable manufacturer, supplier and/or distributor.


                                    
                    li(data-aos="fade-up")
                        h5.title-blue CONDUCT OF WEEKLY DRAWS
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | We will have the sole discretion to select each week's winner of the Weekly Campaign. Each week's Weekly Campaign winner will be notified via the phone number or e-mail address that have been provided to us. We will notify each week's Weekly Campaign winner by the following dates:-      

                                ul
                                    li 
                                        strong Qualifying Period : 
                                        |  Weekly Campaign 1
                                    li
                                        strong Notification Date : 
                                        |  30 October 2019

                                ul  
                                    li 
                                        strong Qualifying Period : 
                                        |  Weekly Campaign 2
                                    
                                    li
                                        strong Notification Date : 
                                        |  06 November 2019
                                
                                ul
                                    li 
                                        strong Qualifying Period : 
                                        |  Weekly Campaign 3
                                    li
                                        strong Notification Date : 
                                        |  13 November 2019       
                                
                                p
                                    | For the avoidance of doubt, any winner of the Weekly Campaign will not be precluded from participating in any of the subsequent Weekly Campaign.

                            li(data-aos="fade-up")
                                p
                                    | We have the right to disqualify a Prize winner and forfeit any Prize if:-
                                
                                ol
                                    li(data-aos="fade-up")
                                        p
                                            | the Prize winner has committed any act of fraud or dishonesty, or has misrepresented anything in connection with the Campaign;

                                    li(data-aos="fade-up")
                                        p
                                            | we are unable to contact the Prize winner using the contact information provided to us;

                                    li(data-aos="fade-up")
                                        p
                                            | the Prize winner does not respond to us or notify us that he or she does not wish to claim the Prize;

                                    li(data-aos="fade-up")
                                        p
                                            | the Prize winner does not agree to abide by and be bound by these terms; or

                                    li(data-aos="fade-up")
                                        p
                                            | the Prize winner dies or becomes mentally incapable.
                                
                                p
                                    | If a Prize winner is disqualified, we may in our sole discretion draw another name to replace the disqualified Prize winner or donate the Prize in question.

                            li(data-aos="fade-up")
                                p
                                    | All notices or communications given by us to you will be deemed to be received or notified to you on the date of broadcast via electronic media such as SMS and e-mails.

                            li(data-aos="fade-up")
                                p
                                    | All Prize winners will be required to collect their prizes at [ #04-03, 50 Scotts Road, Singapore - 228242 ], between Monday to Friday, [ 10.00 AM - 17.00 PM ], excluding public holidays, by [ 13.12.2019 ]. If you are unable to be physically present to claim your Prize, you may authorise another person to claim the Prize on your behalf with an authorisation letter. Prizes which remain unclaimed after two (2) months after the announcement of the prize winners will be forfeited.

                    li(data-aos="fade-up")
                        h5.title-blue PERSONAL DATA
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | All information furnished must be accurate and complete, or it will result in an automatic disqualification.
                            
                            li(data-aos="fade-up")
                                p
                                    | By participating in the Campaign, you agree that any and all personal data may be collected, used, disclosed and processed in accordance with the TGSR Privacy Policy, as well as for the following purposes: (a) facilitating and administering the Campaign; and (b) delivery of the Prizes (including contacting you for the administration of the Prizes).

                    li(data-aos="fade-up")
                        h5.title-blue MISCELLANEOUS
                        ol.sublist
                            li(data-aos="fade-up")
                                p
                                    | By participating in the Campaign and/or claiming any Prize, the participant hereby releases and agrees to hold harmless, subject to the maximum extent permitted under the law, us and our related corporations and affiliates (including respective officers, directors, employees and agents) from any and all liability for any loss (including, without limitation, indirect or consequential loss), damage or expenses in connection with the Campaign, or any Prize.
                            
                            li(data-aos="fade-up")
                                p
                                    | You accept that our decision arising out of or in connection with any matters pertaining to the Campaign (including the award of Prizes) is final and binding. We are not obliged to enter into any correspondence with any participant of the Campaign. No enquiries, appeals, verbal or written, shall be entertained.

                            li(data-aos="fade-up")
                                p
                                    | In the event of any inconsistency between these Campaign Terms and any brochure, marketing or promotional material relating to the Campaign, these Campaign Terms will prevail.
