doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    - var domain = "http://52.221.4.178"
    block head
        meta(property="og:url", content="https://www.your-domain.com/your-page.html")
        meta(property="og:type", content="website")
        meta(property="og:title", content="Your Website Title")
        meta(property="og:description", content="Your description")
        meta(property="og:image:secure_url", content="https://www.your-domain.com/path/image.jpg")
        meta(http-equiv="refresh", content="0;URL='https://thegreatsingaporereplay.sg/'")
        title The Great Singapore Replay: Season 2

    
  body
      p This page will redirect to home page
        a(href="https://thegreatsingaporereplay.sg/") The Great Singapore Replay: Season 2
