<!-- Start: CTA (Call To Action) Component -->
mixin cta(alignCTA ,ctaType, link, ctaText, iconClass)
    .cta.component(class=alignCTA)
        a(class=ctaType, href=link)
          i.fa.icon-prefix(class=iconClass, aria-hidden='true')
          span=ctaText
          i.fa.icon-affix(class=iconClass, aria-hidden='true')
<!-- End: CTA (Call To Action) Component -->

