<!-- Start: Header Logo Component -->
mixin header-logo(imageSource, maxWidth)
    .header-logo.component
        img(src= imageSource, style='max-width:'+ maxWidth +'px')

<!-- End: Header Logo Component -->    