<!-- Start: Image Text Component -->
mixin icon-text(className, imageSource)
    .icon-text.component
        .row(class=className)
            .icon-block
                img(src= imageSource )

            .col.text-block
                block
<!-- End: Image Text Component -->
