<!-- Start: Language Selector Component -->
.select_language.no-border
    select
        option(selected='')  Choose Language 
        option  English 
        option  German 
        option  Turkish 
        option  Arabic 
        option  Hindi 
        option  Urdu 
<!-- End: Language Selector Component -->