<!-- Start: Event Detail Component -->
mixin event-details(timetag, title, eventDate, eventPlace, description, anchorId, anchor)
    .content
        .event-tag= timetag
        h5.title-blue= title
        .event-schedule
            .schedule.date= eventDate
            .schedule.place= eventPlace
        p=description
        a(href="#", id=anchorId)= anchor
<!-- End: Event Detail Component -->    