//- - var footerType

//- mixin footer(className)
//-   - footerType = 'footList'
//-   footer(class=className)
//-     .footer-wrapper
//-         block
      
//- mixin footList(listTitle, index, title)
//-   case footerType
//-     when 'footList'
//-         ul
//-             li.footerColumn
//-                 .footerMenu
//-                     h3.footerTitle= listTitle
//-                         span.fa.fa-chevron-down(aria-hidden='true')
//-                     ul.footerLinksList
//-                         li.footerLinksListItem
//-                         a(href='#')  Accommodate, rent & homeless 
//-                         li.footerLinksListItem
//-                         a(href='#')  Australians overseas 
                       
    //-   .card(class=cardClass)
    //-     .card-header(id='accordion-bar'+'-'+index, role='tab')
    //-       a(class='collapsed', data-toggle='collapse', data-parent='#accordion1', href=('#collapse'+index), aria-expanded='true', aria-controls=('collapse'+index))
    //-         i.fa.fa-angle-down
    //-         i.fa.fa-angle-up
    //-         h5.mb-0=title
              
    //-     .collapse(id='collapse'+index, role='tabpanel', aria-labelledby='accordion-bar'+'-'+index, data-parent='#accordion1')
    //-       .card-body
    //-         block

//- ul
//-       li.footerColumn
//-         .footerMenu
//-           h3.footerTitle
//-             | General Subjects 
//-             span.glyphicon.glyphicon-menu-down(aria-hidden='true')
//-           hr
//-           ul.footerLinksList
//-             li.footerLinksListItem
//-               a(href='#')  Accommodate, rent & homeless 
//-             li.footerLinksListItem
//-               a(href='#')  Australians overseas 
//-             li.footerLinksListItem
//-               a(href='#')  Concession & health care cards 
//-             li.footerLinksListItem
//-               a(href='#')  Crisis and special help 
//-             li.footerLinksListItem
//-               a(href='#')  Family and domestic violence 
//-             li.footerLinksListItem
//-               a(href='#')  Managing your money 
//-             li.footerLinksListItem
//-               a(href='#')  Self service 
//-             li.footerLinksListItem
//-               a(href='#')  What to do following a death 

//- footer
//-   .footerWrapper.container
//-     ul
//-       li.footerColumn
//-         .footerMenu
//-           h3.footerTitle
//-             | General Subjects 
//-             span.glyphicon.glyphicon-menu-down(aria-hidden='true')
//-           hr
//-           ul.footerLinksList
//-             li.footerLinksListItem
//-               a(href='#')  Accommodate, rent & homeless 
//-             li.footerLinksListItem
//-               a(href='#')  Australians overseas 
//-             li.footerLinksListItem
//-               a(href='#')  Concession & health care cards 
//-             li.footerLinksListItem
//-               a(href='#')  Crisis and special help 
//-             li.footerLinksListItem
//-               a(href='#')  Family and domestic violence 
//-             li.footerLinksListItem
//-               a(href='#')  Managing your money 
//-             li.footerLinksListItem
//-               a(href='#')  Self service 
//-             li.footerLinksListItem
//-               a(href='#')  What to do following a death 
//-       li.footerColumn
//-         .footerMenu
//-           h3.footerTitle
//-             | Customer Information 
//-             span.glyphicon.glyphicon-menu-down(aria-hidden='true')
//-           hr
//-           ul.footerLinksList
//-             li.footerLinksListItem
//-               a(href='#')  All payments and services 
//-             li.footerLinksListItem
//-               a(href='#')  Change of circumstances 
//-             li.footerLinksListItem
//-               a(href='#')  Customer news 
//-             li.footerLinksListItem
//-               a(href='#')  Customer service changes 
//-             li.footerLinksListItem
//-               a(href='#')  Estimate 
//-             li.footerLinksListItem
//-               a(href='#')  Express plus mobile apps 
//-             li.footerLinksListItem
//-               a(href='#')  Forms 
//-             li.footerLinksListItem
//-               a(href='#')  Income reporting 
//-       li.footerColumn
//-         .footerMenu
//-           h3.footerTitle
//-             | General Information 
//-             span.glyphicon.glyphicon-menu-down(aria-hidden='true')
//-           hr
//-           ul.footerLinksList
//-             li.footerLinksListItem
//-               a(href='#')  Accessibility 
//-             li.footerLinksListItem
//-               a(href='#')  Complaints and feedback 
//-             li.footerLinksListItem
//-               a(href='#')  Online Security 
//-             li.footerLinksListItem
//-               a(href='#')  Our Service commitments 
//-             li.footerLinksListItem
//-               a(href='#')  Reporting fraud 
//-             li.footerLinksListItem
//-               a(href='#')  Contact us
//-             li.footerLinksListItem
//-               a(href='#')  Privacy  
//-             li.footerLinksListItem
//-               a(href='#')  Site Notices 
//-       li.footerColumn
//-         .footerMenu
//-           h3.footerTitle
//-             | Corporate Information 
//-             span.glyphicon.glyphicon-menu-down(aria-hidden='true')
//-           hr
//-           ul.footerLinksList
//-             li.footerLinksListItem
//-               a(href='#')  About us 
//-             li.footerLinksListItem
//-               a(href='#')  Access to information 
//-             li.footerLinksListItem
//-               a(href='#')  Annual reports 
//-             li.footerLinksListItem
//-               a(href='#')  Budget 
//-             li.footerLinksListItem
//-               a(href='#')  Careers@human services 
//-             li.footerLinksListItem
//-               a(href='#')  Publications & resources 
//-             li.footerLinksListItem
//-               a(href='#')  Media 
//-             li.footerLinksListItem
//-               a(href='#')  Statistical information & data 
//-       li.footerColumn.hidden-sm
//-         .footerMenu
//-           h3.footerTitle
//-             | Sections 
//-             span.glyphicon.glyphicon-menu-down(aria-hidden='true')
//-           hr.lasthr
//-           ul.footerLinksList
//-             li.footerLinksListItem
//-               a(href='#')  Customer 
//-             li.footerLinksListItem
//-               a(href='#')  Corporate
//-             li.footerLinksListItem
//-               a(href='#')  Business 
//-             li.footerLinksListItem
//-               a(href='#')  Community 
//-             li.footerLinksListItem
//-               a(href='#')  Health Professionals 
//-             li.footerLinksListItem
//-               a(href='#')  Login 
//-             li.footerLinksListItem
//-               a(href='#')  Register 
//-             li.footerLinksListItem
//-               a(href='#')  Help 
//-   .footerBottom
//-     .footerLogo.col-lg-6.col-md-6.col-sm-6.col-xs-12
//-       ul
//-         li
//-           a(href='#')
//-             i.fa.fa-facebook(aria-hidden='true')
//-         li
//-           a(href='#')
//-             i.fa.fa-twitter(aria-hidden='true')
//-         li
//-           a(href='#')
//-             i.fa.fa-youtube(aria-hidden='true')
//-         li
//-           a(href='#')
//-             i.fa.fa-google-plus(aria-hidden='true')
//-     .footerText.col-lg-6.col-md-6.col-sm-6.col-xs-12
//-       ul
//-         li  Department of Human Services 
//-         li  
//-         li  ABN 90 794 605 008 
