<!-- Start: Title Description Component -->
mixin title-text(className, title, description)
    .title-description.pt-60.pb-20(class= className)
        .content
            h1.secondary-text-d20= title
            p.grey-text.max-500.font-small.mb-0= description
<!-- End: Title Description  -->