// imports

// Screen sizes
$xs-mobile: 380px;
$sm-mobile: 575px;
$mobile: 769px;
$ipad: 991px;
$xl-min: 1200px;
$medium-screen: 1340px;

// button
.button.raised {
    outline: none;
    background-color: rgb(245, 250, 25);
    position: relative;
    padding: 13px 25px;
    cursor: pointer;
    border: none;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'din-pro', sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 1em;
    color: #000;
    &:after {
        content: '';
        background-color: transparent;
        width: 100%;
        height: 100%;
        border: 2px solid #fff;
        position: absolute;
        left: 8px;
        top: 8px;
        z-index: -1;
        transition: all ease-in-out 0.3s;
        -webkit-transition: all ease-in-out 0.5s;
    }
    &.disabled {
        pointer-events: none;
        background-color: #7f820f;
        &:after {
            opacity: 0.5;
        }
    }
    &.long-btn {
        padding: 13px 20px;
        min-width: 180px;
    }

    // media
    @media screen and (max-width: $medium-screen) {
        font-size: 12px;
        padding: 10px 15px;
    }
}

// LINK > Button
.wrapped-button {
    &:after,
    &:before {
        display: none;
    }
}

// group
.button-group {
    > .button:first-child {
        margin-right: 50px;
    }
}
