/* Start Variables */
$primary-color: #69edde;
// $secondary-color: #FDE607;
$secondary-color: #f5fa19;
$tunes-color: #fc3cb4;
// $body-color: #15091e;
$body-color: #0f0a32;

$light-grey: #eee;
$white-color: #fff;

// Screen sizes
$xs-mobile: 380px;
$sm-mobile: 575px;
$mobile: 769px;
$ipad: 991px;
$xl-min: 1200px;
$medium-screen: 1340px;

// Font Sizes
$body-font-size: 15px;
$body-line-height: 23px;
$body-letter-spacing: 1px;

$h1-font-size: 40px;
$h1-line-height: 42px;
$h1-letter-spacing: 1px;

$h2-font-size: 22px;
$h2-line-height: 25px;
$h2-letter-spacing: 1px;

$h3-font-size: 40px;
$h3-line-height: 35px;
$h3-letter-spacing: 1px;

$h4-font-size: 20px;
$h4-line-height: 20px;
$h4-letter-spacing: 1px;

$h5-font-size: 22px;
$h5-line-height: 22px;
$h5-letter-spacing: 1px;

$h6-font-size: 10px;
$h6-line-height: 13px;
$h6-letter-spacing: 1px;

// Expanding Button
$expanding-btn-font-size: 12px;
$expanding-btn-line-height: 12px;
$expanding-btn-letter-spacing: 0.5px;

// Anchor
$anchor-font-size: 15px;

// Navigations
$main-font-size: 16px;
$main-line-height: 16px;
$main-letter-spacing: 2px;

$other-font-size: 11px;
$other-line-height: 11px;
$other-letter-spacing: 1px;

// Footer Titles
$footer-title: 9px;

@media (max-width: 576px) {
    $body-font-size: 1;
    $body-line-height: 1.4;
    $body-letter-spacing: 1px;

    $h1-font-size: 24px;
    $h1-line-height: 0px;
    $h1-letter-spacing: 1px;

    $h2-font-size: 22px;
    $h2-line-height: 0px;
    $h2-letter-spacing: 1px;

    $h3-font-size: 28px;
    $h3-line-height: 24px;
    $h3-letter-spacing: 1px;

    $h4-font-size: 19px;
    $h4-line-height: 0px;
    $h4-letter-spacing: 1px;

    $h5-font-size: 17px;
    $h5-line-height: 22px;
    $h5-letter-spacing: 1px;

    $h6-font-size: 10px;
    $h6-line-height: 13px;
    $h6-letter-spacing: 1px;

    // Expanding Button
    $expanding-btn-font-size: 0.8vw;
    $expanding-btn-line-height: 1vw;
    $expanding-btn-letter-spacing: 0.5px;

    // Anchor
    $anchor-font-size: 0.8vw;

    // Navigations
    $main-font-size: 1.1vw;
    $main-line-height: 1vw;
    $main-letter-spacing: 2px;

    $other-font-size: 0.9vw;
    $other-line-height: 0.9vw;
    $other-letter-spacing: 1px;

    // Footer Titles
    $footer-title: 8px;
}

/* End Variables  */
