// imports

// Screen sizes
$xs-mobile: 380px;
$sm-mobile: 575px;
$mobile: 769px;
$sm-mobile: 430px;
$xs-mobile: 330px;
$ipad: 991px;
$xl-min: 1200px;
$medium-screen: 1340px;

// page wrapper
.artists-container {
    // title
    .page-title {
        margin-bottom: 50px;
        h3 {
            margin-bottom: 30px;
        }
        p {
            max-width: 100%;
            margin: auto;
        }
    }
    // profiles wrapper
    .profiles-wrapper {
        margin-bottom: 150px;
        // inner wrapper
        .inner-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            .profile {
                cursor: pointer;
                padding: 0 30px;
                width: 370px;
                max-width: 370px;
                text-align: center;
                p {
                    width: 170px;
                    margin: 15px auto 0;
                    text-align: center;
                    color: #f5fa19;
                    font-weight: 600;
                    font-size: 18px;
                }
                a:after {
                    display: none;
                }

                // media
                @media screen and (max-width: $xl-min) {
                    $width: 300px;
                    width: $width;
                    max-width: $width;
                    min-width: $width;
                    p {
                        font-size: 16px;
                        width: 150px;
                    }
                }
                // media
                @media screen and (max-width: $ipad) {
                    $width: 240px;
                    width: $width;
                    max-width: $width;
                    min-width: $width;
                    padding: 0 20px;
                    p {
                        margin: 10px auto 0;
                        font-size: 14px;
                        width: 160px;
                    }
                }
                // @media screen and (max-width: $mobile) {
                //     $width: 260px;
                //     width: $width;
                //     max-width: $width;
                //     min-width: $width;
                //     padding: 0 10px;
                //     p {
                //         margin: 10px auto 0;
                //         font-size: 14px;
                //         width: 130px;
                //     }
                // }
                @media screen and (max-width: $mobile) {
                    $width: 300px;
                    width: $width;
                    max-width: $width;
                    min-width: $width;
                    padding: 0;
                    p {
                        font-size: 18px;
                        width: auto;
                        line-height: 1.2em;
                    }
                }
            }
            &.three-wrapper {
                margin: -50px 0;
                &:last-child {
                    margin-bottom: 0;
                }
                // media
                @media screen and (max-width: $ipad) {
                    margin: 10px 0;
                }
            }

            // mobile
            @media screen and (max-width: $mobile) {
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;

                // $mobile-grid: -40px 125px -60px;

                // // mobile
                // &.two-wrapper.one .profile:nth-child(2) {
                //     margin: $mobile-grid;
                // }
                // &.three-wrapper.one .profile:nth-child(2) {
                //     margin: $mobile-grid;
                // }
                // &.two-wrapper.two .profile:nth-child(1) {
                //     margin: $mobile-grid;
                // }
                // &.three-wrapper.two .profile:nth-child(1), &.three-wrapper.two .profile:nth-child(3) {
                //     margin: $mobile-grid;
                // }
            }
            @media screen and (max-width: $mobile) {
                .profile {
                    margin: 20px auto;
                }
            }
        }

        // mobile
        @media screen and (max-width: $mobile) {
            width: 100%;
            margin: 0 auto 200px;
        }
        // @media screen and (max-width: $sm-mobile) {
        //     width: 345px;
        //     max-width: 100%;
        //     margin-bottom: 100px;
        // }
    }

    // mobile
    @media screen and (max-width: $mobile) {
        margin-top: 50px;
    }
}

// honorable mentions
.mentions-wrapper {
    width: $medium-screen;
    max-width: 100%;
    margin: 0 auto 150px;
    .honor-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .profile {
            display: flex;
            align-items: center;
            margin: 10px 25px 30px;
            .img {
                padding-right: 10px;
            }
            .content {
                p {
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 900;
                    margin-bottom: 5px;
                }
                .social {
                    display: flex;
                }
            }
        }
        @media screen and (max-width: $mobile) {
            .profile {
                display: block !important;
            }
        }
    }
}
