//import
// @import '../styles/variables';
// Screen sizes
$xs-mobile: 380px;
$sm-mobile: 575px;
$mobile: 769px;
$ipad: 991px;
$xl-min: 1200px;
$medium-screen: 1340px;


// page wrapper
.artist-page-container {
    margin: 50px auto;
    position: relative;
    
    // image
    .artist-image {
        width: 115%;
        max-width: none;
    }
    // content
    .artist-content {
        h1 {
            color: #00fff5;
            margin-bottom: 10px;
        }
        .internal-links {
            display: flex;
            p {
                span {
                    font-weight: 600;
                }
            }
            .separator {
                margin: 0px 20px;
            }
        }
        .social {
            display: flex;
            margin-bottom: 20px;
            a {
                margin-right: 10px;
                img {
                    width: 35px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        // content
        .inner-content {
            height: 410px;
            overflow-y: scroll;
            padding-right: 20px;
        }
        .inner-content::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            width: 40px;
            background-color: #555555;
        }
        .inner-content::-webkit-scrollbar {
            width: 6px;
        }
        .inner-content::-webkit-scrollbar-thumb {
            background-color: #69EDDE;
        }
    }

    // media
    @media screen and (max-width: $mobile) {
        .artist-image{
            width:100%;
        }
        // artist content
        .artist-content {
            margin-bottom: 50px;
            h1 {
                font-size: 34px;
                text-align: center;
            }
            p {
                font-size: 14px;
            }
            .internal-links {
                text-align: center;
                display: block;
                .separator {
                    display: none;
                }
            }
            .inner-content {
                height: auto;
                overflow: unset;
                padding-right: 0px;
                text-align: center;
            }
            .social {
                justify-content: center;
            }
        }
    }
}

// global style
.artist-details-page-body {
    .nav-bar {
        visibility: hidden;
        z-index: -10;
    }
    // close btn
    .close-btn {
        cursor: pointer;
        position: absolute;
        right: 50px;
        top: 50px;
        z-index: 10;
        &:after {
            display: none;
        }
        @media screen and (max-width: $mobile) {
            right: 30px;
            top: 30px;
        }
    }
}