// Screen sizes
$xs-mobile: 380px;
$sm-mobile: 575px;
$mobile: 769px;
$ipad: 991px;
$xl-min: 1200px;
$medium-screen: 1340px;


// wrapper
.hidden-boombox-wrapper{
    width: 250px;
    z-index: 99;
    .correct-wrapper {
		position: relative;
		.gif {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
    }

    // page styles
	&.est-mentor-bb {
		position: absolute;
		bottom: 100px;
	}
}


