
// Screen sizes
$xs-mobile: 380px;
$sm-mobile: 575px;
$mobile: 769px;
$ipad: 991px;
$xl-min: 1200px;
$medium-screen: 1340px;

// menu-container

.drop-menu{
    position: relative;
    .menu{
        width: 280px;
        background: #eeeeee;
        position: absolute;
        right: 0px;
        top: 50px;
        border-radius: 5px;
        
        .submenu{
            color: #666666;
            padding: 15px;
            text-align: left;
            font-size: 12px;
            font-weight: bold;
            border-bottom: 1px solid #cccccc;
            .container{
                   display: flex;
                margin-top: 10px;
                align-items: center;
                .desc{
                    font-size: 10px;
                  }
                span{
                    margin-left: 10px;
                    line-height: 14px;
                }
                padding-left: 0px;
                padding-right: 0px;
                &.last-section{
                    justify-content: space-between;
                }
            }
            .number{
                background: #f00082;
                padding: 5px;
                color: #ffffff;
                font-size: 10px;
                font-weight: bold;
                line-height: 12px;
            }
            &:last-child{
                border-bottom: none;
            }
            .sign-out{
                display: inline;
            }
            .earn-more{
                display: inline;
                a{
                    color: #f00082;
                    font-weight: bold;
                    font-size: 12px;
                    display: inline;
                    float: right;
                }
                a:after{
                    border-bottom: none;
                }
            }
        }
        @media screen and (max-width: $mobile) {
            position: fixed;
            left: 50%;
            right: none;
            top: 100px;
            transform: translateX(-50%);
            width: 335px;
            z-index: 999;
        }
    }
}