// Screen sizes
$xs-mobile: 380px;
$sm-mobile: 575px;
$mobile: 769px;
$ipad: 991px;
$xl-min: 1200px;
$medium-screen: 1340px;

.festival-container {
    // masthead
    .masthead-container {
        text-align: center;
        margin-bottom: 250px;
        position: relative;
        z-index: 1;
        a.rsvp-button{
            display: block;
            margin-top: 40px;
        }
        a.rsvp-button:after{
            display: none;
        }
        @media screen and (max-width: $mobile) {
            margin-top: 50px;
            margin-bottom: 185px;
        }
        img {
            margin: auto;
        }
        .masthead-desc,
        button {
            display: block;
            text-align: center;
            margin: -115px auto 115px;
            width: 700px;
            &.button.raised {
                width: 180px;
                margin-top: -50px;
                @media screen and (max-width: $mobile) {
                    margin-top: 30px;
                }
            }
            @media screen and (max-width: $mobile) {
                margin: -135px auto 0px;
                width: 100%;
            }
        }
        .masthead-desc{
            width: 45%;
            &.second{
                padding-top: 20px;
                @media screen and (max-width: $mobile) {
                    margin-top: 0px;
                }
            }
            @media screen and (max-width: $mobile) {
                width: 90%;   
            } 
        }
        .countdown {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            top: 150px;
            left: 50%;
            transform: translateX(-50%);
            width: 320px;
            @media screen and (max-width: $mobile) {
                top: 280px;
            }
            @media screen and (max-width: $sm-mobile) {
                top: 127px;
            }

            > span {
                display: flex;
                align-items: center;
                flex-direction: column;
            }
            span,
            strong {
                font-size: 44px;
                color: #f00082;
                &.text {
                    font-size: 14px;
                }
            }
            strong {
                margin-bottom: 10px;
            }
            span.dots {
                align-self: flex-start;
            }
        }
    }
    .events-container {
        background-image: none;
    }
    // timeline
    .events-container .events-timeline {
        margin-bottom: 150px;
        ul li .content .event-schedule .schedule:last-child {
            padding: 0;
        }
        .title-blue{
            a{
                font-size: 18px;
            }
            a:after{
                display: none;
            }
        }
    }
    .step-container {
        margin-bottom: 160px;
        @media screen and (max-width: $mobile) {
            margin-bottom: 100px;
        }

        .header {
            margin-bottom: 70px;
            h2 {
                font-size: 40px;
                line-height: 40px;
                @media screen and (max-width: $mobile) {
                    font-size: 32px;
                }
            }
            h4 {
                font-size: 24px;
                margin-bottom: 10px;
                @media screen and (max-width: $mobile) {
                    margin-bottom: 10px;
                }
            }
            .text-yellow {
                color: #f5fa19;
            }
            &.texture-bg {
                position: relative;
                z-index: 1;
                margin-bottom: 140px;
                &:after {
                    content: url("../static/images/festival/img_schedule_pattern@2x.png");
                    z-index: -1;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 100%;
                    transform: translate(-50%, -55%);
                    @media screen and (max-width: $mobile) {
                        content: url("../static/images/festival/img_schedule_pattern_mobile.png");
                        z-index: -1;
                        position: absolute;
                        left: -9%;
                        top: 16%;
                        width: 100%;
                        transform: translate(-31%, -41%);
                    }
                }
            }
            &.rsvp-header {
                margin-bottom: 40px;
               
            }
            @media screen and (max-width: $mobile) {
                h2 {
                    font-size: 32px;
                }
            }
            .step-descs{
                padding-top: 15px;
                margin:auto;
                width: 87%; 
            }
        }

        .activity-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 990px;
            max-width: 100%;
            margin: auto;
            @media screen and (max-width: $ipad) {
                align-items: flex-start;
            } 
            @media screen and (max-width: $mobile) {
                flex-wrap: wrap;
            }
            .item {
                margin: 0 10px;
                display: block;
                width: 240px;
                text-align: center;
                h4 {
                    font-size: 18px;
                    margin-top: 20px;
                    color: #f5fa19;
                    font-weight: 900;
                }
                @media screen and (max-width: $mobile) {
                    width: 100%;
                    margin-right: 0px;
                    margin-left: 0px;
                    margin-bottom: 35px;
                    h4 {
                        margin-top: 15px;
                    }
                }
            }
            .highlight-text{
                height: 190px;
                @media screen and (max-width: 1199px) {
                    height: auto;
                    width: 93%;
                    margin:auto;
                    // padding-top: 0px;
                }
            }
        }

        .event-details {
            display: block;
            align-items: center;
            text-align: center;
            //justify-content: center;
            margin-bottom: 30px;
            @media screen and (max-width: $mobile) {
                display: block;
            }
            .location {
                @media screen and (max-width: $mobile) {
                    text-align: left;
                }
                h5{
                    @media screen and (max-width: $mobile) {
                        font-size: 14px;
                    }    
                }
            }
            > div {
                display: flex;
                align-items: center;
                justify-content: center;
                &.date {
                    padding-right: 20px;
                    margin-right: 20px;
                    position: relative;
                    margin-bottom: 15px;
                    h5{
                        @media screen and (max-width: $mobile) {
                            font-size: 14px;
                        }    
                    }
                    @media screen and (max-width: $mobile) {
                        margin-right: 0px;
                        margin-bottom: 20px;
                        padding-right: 0px;
                        justify-content: end;
                    }
                    &:after {
                        //content: url("../static/images/festival/seperator.png");
                        position: absolute;
                        right: 0;
                        top: 0;
                        @media screen and (max-width: $mobile) {
                            content: "";
                        }
                    }
                }

                .logo {
                    margin-right: 20px;
                    width: 28px;
                }
                .location-logo {
                    width: 24px;
                }
                h5 {
                    margin-bottom: 0;
                    letter-spacing: 1.3pt;
                    @media screen and (max-width: $mobile) {
                        line-height: 25px;
                    }
                }
            }
            .event-desc{
                width: 80%;
                padding-top: 40px;
                margin: auto;
             }
        }

        .inner-content {
            width: 600px;
            margin: auto;

            .MuiTypography-root {
                font-family: Din-2014, sans-serif;
            }
            .social-share-title {
                font-weight: 800;
                margin-top: 50px;
            }
            .social-share-link {
                display: flex;
                justify-content: center;
                margin: auto;
                img {
                    width: 40px;
                }
                a:after {
                    display: none;
                }
                .social-tweet {
                    margin: 0px 30px;
                    margin-right:0px;
                }
            }
            @media screen and (max-width: $mobile) {
                width: 100%;
            }
        }
        @media screen and (max-width: $mobile) {
            .MuiFormControlLabel-root {
                text-align: left;
                width: 100%;
            }
        }
        .boombox {
            margin: -150px auto 0;
            display:block;
            @media screen and (max-width: 1199px) {
                display:none;
                margin: auto;
            }
        }
        .boombox-mobile{
            display: none;
            @media screen and (max-width: 1199px) {
                display: block;
                margin:auto;
                width: 100%;
            }
        }

    }

    .MuiCheckbox-root {
        align-self: flex-start;
        padding-top: 0;
    }
    .MuiCheckbox-colorSecondary.Mui-checked,
    .MuiSvgIcon-root {
        color: #fff;
    }
    
    .events-timeline .past-timeline ul li:nth-child(even){
        text-align: right;
        padding-top: 40px;
        @media screen and (max-width: 1022px) {
            text-align: left
        }
        .event-schedule{
            text-align: right;
            display: block;
            @media screen and (max-width: 1022px) {
                text-align: left;
                display:flex;
            }
        }
    }
    .events-timeline .past-timeline ul li:nth-child(odd){
        padding-top: 40px;
    }
    .events-timeline ul li:after{
        top: 43px !important;
    }
    .MuiCheckbox-root{
        padding-bottom: 0px;
    }
    .MuiFormControlLabel-root{
        margin-bottom: 30px;
    }
}