
// Screen sizes
$xs-mobile: 380px;
$sm-mobile: 575px;
$mobile: 769px;
$ipad: 991px;
$xl-min: 1200px;
$medium-screen: 1340px;

// prize container
.gallery-container {
    // inner
    .inner-container {
        width: 930px;
        max-width: 100%;
        margin: 30px auto 150px;
        @media screen and (max-width: $mobile) {
            margin: 80px auto 100px;
        }
        // inner rows
        > .row {
            margin-bottom: 50px;
        }
    }
    // header
    .header-wrapper {
        margin-bottom: 10px;
        h3 {
            margin-bottom: 30px;
        }
        .section-title {
            margin-top: 30px;
        }
        .producer-title {
            margin: 50px 0;
            margin-bottom: 10px;
        }
        @media screen and (max-width: $mobile) {
            padding: 0 20px;
            h3 {
                margin-bottom: 0;
            }
            .section-title {
                padding: 0;
            }
        }
    }
    // masthead video
    .masthead-video {
        position: relative;
        height: 525px !important;
        &:after {
            content: '';
            position: absolute;
            background-image: url('../static/images/gallery/pattern-left.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            top: 0;
            right: 100%;
            height: 100%;
            width: 140px;
            z-index: -1;
        }
        &:before {
            content: '';
            position: absolute;
            background-image: url('../static/images/gallery/pattern-right.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            top: 0;
            left: 100%;
            height: 100%;
            width: 140px;
            z-index: -1;
        }

        // media
        @media screen and (max-width: $ipad) {
            height: 388px !important;
            &:after {
                right: 95%;
            }
            &:before {
                left: 95%;
            }
        }
        @media screen and (max-width: $ipad) {
            height: 200px !important;
            padding: 0 20px;
            &:after {
                right: 95%;
            }
            &:before {
                left: 95%;
            }
        }
        @media screen and (max-width: $sm-mobile) {
            &:after, &:before {
                display: none;
            }
        }
    }
    // section
    .section-container {
        margin: 80px auto 50px;
        // single item
        &.webisodes .gallery-carousell .slick-track, &.behind-the-scenes .gallery-carousell .slick-track {
            margin-left: 0;
        }

        @media screen and (max-width: $mobile) {
            margin: 40px auto 0;
        }
    }
    .section-title {
        font-size: 28px;
        line-height: 1.2em;
        color: #69edde;
        margin-bottom: 30px;
        @media screen and (max-width: $mobile) {
            padding: 0 20px;
        }
    }
    
    // carousell
    .gallery-carousell {
        .slick-slide {
            padding: 0 20px 0 0;
            @media screen and (max-width: $sm-mobile) {
                padding: 0 20px;
            }
        }
        .slides {
            .content {
                margin-top: 20px;
                h5 {
                    line-height: 1.2em;
                }
                .stats {
                    * {
                        display: inline-block;
                        margin-right: 10px;
                    }
                }
            }
            @media screen and (max-width: $mobile) {
                .content {
                    text-align: center;
                }
            }
        }
    }

    // thumbnail
    .thumb-wrapper {
        cursor: pointer;
        position: relative;
        .thumb {
            width: 100%;
        }
        .icon {
            position: absolute;
            width: auto;
            right: 10px;
            top: 10px;
            &.video {
                top: 50%;
                right: 50%;
                transform: translate(50%, -50%);
            }
        }
    }

    // content carousell

    // mobile
    @media screen and (max-width: $mobile) {
        .header-wrapper{
            text-align: center;
            margin-bottom: 10px !important;
        }
        .header {
            padding-bottom: 15px;
        }
    }
}


// lightbox overrides
.fslightbox-slide-btn-container {
    .fslightbox-slide-btn {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            background-image: url('/clientlibs/images/global/arrow_left@2x.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 24px;
            width: 13px;
        }
        svg {
            visibility: hidden;
        }
    }
    &.fslightbox-slide-btn-container-next {
        .fslightbox-slide-btn:after {
            background-image: url('/clientlibs/images/global/arrow_right@2x.png');
        }
    }
}

// slider overrides
.mediagallery-page-body {
    .slick-slide {
        padding: 0 8px;
    }
    .slick-prev {
        left: -40px;
        @media screen and (max-width: $sm-mobile) {
            // display: none !important;
            left: -5px;
        }
    }
    .slick-next {
        right: -40px;
        @media screen and (max-width: $sm-mobile) {
            // display: none !important;
            right: -5px;
        }
    }
}

// hide unnecessary icons
.fslightbox-toolbar-button {
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        display: none;
    }
}

// pagination
.fslightbox-slide-number-container {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.fslightbox-source-inner {
    padding: 30px 0 10px;
}

