// Screen sizes
$xs-mobile: 380px;
$sm-mobile: 575px;
$mobile: 769px;
$ipad: 991px;
$xl-min: 1200px;
$medium-screen: 1340px;

// prize container
.gamification-container {
    .step-header {
        text-align: center;
        @media screen and (max-width: $sm-mobile) {
            margin-bottom: 100px;
            padding-top: 22px;
            h3 {
                font-size: 30px;
            }
        }
    }
    // inner
    .inner-container {
        max-width: 100%;
        margin: 30px auto 150px;
        @media screen and (max-width: $mobile) {
            margin: 0px auto 100px;
        }
        // inner rows
        > .row {
            margin-bottom: 50px;
        }
        // header

        .header {
            text-align: center;
            @media screen and (max-width: $sm-mobile) {
                
                h3 {
                    font-size: 30px;
                }
            }
            p {
                width: 70%;
                margin: 30px auto;
                @media screen and (max-width: $sm-mobile) {
                    width: 100%;
                }
            }
        }
    }

    // flud
    &.container-fluid {
        .inner-container {
            width: 95%;
            .header {
                max-width: 100%;
                width: 900px;
                margin: auto;
            }
            @media screen and (max-width: 1400px) {
                width: 100%;
            }
        }
        // arrow
        .slick-next {
            right: 10px;
        }
        .slick-prev {
            left: 10px;
        }
    }

    // section
    .section-container {
        @media screen and (max-width: $mobile) {
            margin: 40px auto 0;
        }
    }

    // carousell
    .prize-carousell {
        position: relative;
        &:before,
        &:after {
            content: "";
            position: absolute;
            z-index: 1;
            width: 200px;
            top: 0;
            height: 100%;
            pointer-events: none; /*makes the linkes behind clickable*/
        }
        &:before {
            left: 0;
            background: linear-gradient(
                to right,
                rgba(15, 10, 50, 1) 20px,
                rgba(15, 10, 50, 0)
            );
            @media screen and (max-width: $xl-min) {
                left: -30px;
            }
            @media screen and (max-width: $ipad) {
                display: none;
            }
        }
        &:after {
            right: 0;
            background: linear-gradient(
                to left,
                rgba(15, 10, 50, 1) 20px,
                rgba(15, 10, 50, 0)
            );
            @media screen and (max-width: $xl-min) {
                right: -30px;
            }
            @media screen and (max-width: $ipad) {
                display: none;
            }
        }
        .slick-slide {
            padding-right: 20px;
            @media screen and (max-width: $mobile) {
                padding-right: 0;
            }
        }
        .content {
            //display: flex;
            text-align: center;
            margin-top: 20px;
            position: relative;
            @media screen and (max-width: $mobile) {
                padding: 0 20px;
            }
            img {
                margin: auto;
                width: 500px;
                @media screen and (max-width: $mobile) {
                    width: 420px;
                }
            }
            .desc {
                line-height: 1.2em;
                font-size: 20px;
                font-weight: 800;
                width: 300px;
                @media screen and (max-width: $sm-mobile) {
                    width: 100%;
                }
                margin: auto;
            }
            .grand-prize {
                color: #69edde;
                font-weight: 600;
            }
            .text-arrow {
                position: relative;
                margin-top: 30px;
                @media screen and (max-width: $mobile) {
                    margin-top: 10px;
                }
            }
            .text-arrow:before {
                content: url("../static/images/gamification/yellow-left-arrow.png");
                height: 0;
                width: 0;
                position: absolute;
                left: 24%;
                top: -5%;
                @media screen and (max-width: $sm-mobile) {
                    left: 40px;
                }
            }
            .text-arrow:after {
                content: url("../static/images/gamification/yellow-right-arrow.png");
                height: 0;
                width: 0;
                position: absolute;
                right: 35%;
                top: -5%;
                @media screen and (max-width: $sm-mobile) {
                    right: 80px;
                }
            }
            .date {
                font-size: 20px;
                font-weight: 800;
                margin: 0px auto 30px;
            }
        }
        @media screen and (max-width: $mobile) {
            .content {
                text-align: center;
            }
            .slick-list {
                padding: 0 !important;
            }
        }
    }
    // fixed navigation
    .fixed-nav {
        position: absolute;
        height: 80px;
        width: 100% !important;
        left: 0 !important;
        background-color: #560070;
        white-space: nowrap;
        text-align: center;
        -webkit-box-shadow: 0px 0px 40px -13px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 40px -13px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 40px -13px rgba(0, 0, 0, 0.75);
        .nav-child-wrapper {
            height: 100%;
            margin: auto;
            @media screen and (max-width: $mobile) {
                flex-wrap: nowrap;
                width: 100%;
                overflow-x: auto;
            }
            ul {
                width: 100%;
                height: 100%;
                list-style: none;
                align-items: center;
                display: flex;
                margin: 0;
                @media screen and (max-width: $mobile) {
                    width: 480px;
                }
            }
            .fixed-nav-child {
                width: 300px;
                flex: 0 0 auto;
                margin: auto;
                a {
                    color: rgb(156, 156, 156);
                }
                a:active {
                    color: #f5fa19;
                }
                a:after {
                    border: 0px;
                }
                &.active {
                    a {
                        color: #f5fa19;
                    }
                }
                @media screen and (max-width: $mobile) {
                    width: 165px;
                }
            }
        }
        // mobile
        @media screen and (max-width: $mobile) {
            display: none;
        }
    }

    // steps
    .step-section {
        margin: 10% auto;
        padding: 18% 0 0 0;
        background-image: url("../static/images/gamification/music-sign-bg.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;
        @media screen and (max-width: $mobile) {
            padding: 0;
            //background-position: center 60px;
            //background-size: 110vw;
            background-image: url("../static/images/gamification/img_musicnotes_m.png");
            background-position: 0px -198vw;
            background-size: 95vw;
        }
        .steps {
            scroll-behavior: smooth;
            .step-wrapper {
                display: flex;
                align-items: center;
                padding-top: 80px;
                @media screen and (max-width: $mobile) {
                    display: block;
                    padding-top: 20px;
                }
                .step-content {
                    width: 50%;
                    @media screen and (max-width: $mobile) {
                        width: 100%;
                    }
                    .step-title {
                        display: flex;
                        span {
                            background-color: #fff;
                            color: #560070;
                            border-radius: 50%;
                            padding: 13px 0px;
                            width: 50px;
                            height: 50px;
                            text-align: center;
                            font-size: 22px;
                            font-weight: 600;
                            margin-right: 20px;
                            @media screen and (max-width: $mobile) {
                                padding-top: 10px;
                                height: 40px;
                                width: 45px;
                                margin: 10px 10px 0 0;
                                font-size: 16px;
                                border-radius: 50%;
                            }
                        }
                        p {
                            width: 350px;
                            font-size: 24px;
                            font-weight: 600;
                            margin-top: 10px;
                        }
                    }
                    .step-desc {
                        margin-left: 70px;
                        @media screen and (max-width: $mobile) {
                            margin-left: 50px;
                        }
                    }
                }
            }
            @media screen and (max-width: $mobile) {
                display: block;
                #step2 {
                    display: flex;
                    flex-direction: column;
                    .first-div {
                        order: 2;
                        .graph {
                            padding-top: 30px;
                        }
                    }
                    .second-div {
                        order: 1;
                    }
                }
            }
        }
    }
}

// slider overrides
.gamification-page-body {
    @media screen and (max-width: $mobile) {
        .slick-dots {
            margin-top: -10px;
        }
    }
}
