// imports

// Screen sizes
$xs-mobile: 380px;
$sm-mobile: 575px;
$mobile: 769px;
$ipad: 991px;
$xl-min: 1200px;
$medium-screen: 1340px;

// html
html {
    scroll-behavior: smooth;
    @media screen and (max-width: $mobile) {
        overflow-x: hidden;
    }
}

// selection
::selection {
    background: transparent;
}

// borderless a
a.borderless:after {
    display: none;
}

// images
img {
    -webkit-user-drag: none;
}

// spot light
.spot-lights,
.spot-lights > * {
    z-index: -1;
}
.background-lights,
.background-lights > * {
    z-index: -1;
}
.spot-lights.spin-player-page .spot-light-right.infinite {
    left: 58%;
}

// menu background
header .nav-menu .navigation-background img {
    opacity: 1;
}

// slick carounsell
.slick-slide {
    pointer-events: none;
    &.slick-active {
        pointer-events: auto;
    }
}

// footer
footer {
    z-index: 2;
}

// typography

.red-text {
    color: #f00082;
}

// strong
strong {
    font-weight: 900;
    font-size: 18px;
}

p {
    font-size: 16px;
}

// page backgrounds

header {
    z-index: 10;
}

body {
    color: #eee;
    background-color: #0f0a32;
    background-repeat: repeat-y;
    background-size: cover;
    background-position: top center;
}

// qrcode page
body.qr-page-body {
    background-image: url('../static/images/bg/qr-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    // spolights
    .spot-lights{
        display: none;
    }
    // mobile
    @media screen and (max-width: 1024px) {
        background-image: url('../static/images/bg/qr-bg.png');
        background-size: cover;
    }
    @media screen and (max-width: $mobile) {
        background-image: url('../static/images/bg/qr-bg-t-portriat.png');
        background-size: cover;
    }
    @media screen and (max-width: $mobile) {
        background-image: url('../static/images/bg/qr-bg-t-portriat.png');
        background-size: cover;
    }
}

// gamification page
body.gamification-page-body {
    background-image: url('../static/images/bg/gamification-bg-combined.png');
    .spot-lights{
        display: none;
    }
    @media screen and (max-width: $ipad) {
        #__next {
            overflow-x: hidden;
        }
    }
    @media screen and (max-width: $mobile) {
        background-image: url('../static/images/bg/gamification-bg-m.png');
    }
}

// producer page
body.producers-page-body {
    background-image: url('../static/images/bg/producer-bg.png');
    .spot-lights{
        display: none;
    }
}

// artists page
body.artists-page-body {
    background-image: url('../static/images/bg/artist-bg.png');

    .spot-lights{
        display: none;
    }
    // mobile
    @media screen and (max-width: $mobile) {
        background-image: url('../static/images/bg/artist-bg_m.png');
        background-size: contain;

    }
}

// mashups page
body.mashups-page-body {
    background-image: url('../static/images/bg/mashup-bg.png');
    // footer fix
    footer {
        position: fixed;
        bottom: -10px;
        @media screen and (max-width: $mobile) {
            position: relative;
            bottom: 0;
        }
    }
}

// artist details
body.artist-details-page-body {
    background-image: url('../static/images/bg/artist-detail-bg.png');
    // footer fix
    .spot-lights{
        display: none;
    }
    footer {
        position: fixed;
        bottom: -10px;
        @media screen and (max-width: $mobile) {
            position: relative;
            bottom: 0;
        }
    }
    
}

// artist details
body.mediagallery-page-body {
    background-image: url('../static/images/bg/media-gallery-bg.png');
    // footer fix
    .spot-lights{
        display: none;
    }
}

// artist details
body.festival-page {
    background-image: url('../static/images/festival/img_bkgrd_combined@2x.png');
    .spot-lights{
        display: none;
    }
    .mentors-spotlight {
        position: absolute;
        z-index: -999;
    }
    @media screen and (max-width: 767px){

        max-width: 98% !important;
        overflow-x: hidden;

    }
}


// footer height fix
footer.relative {
    @media (max-height: 815px) and (min-width: $xl-min){
        position: relative !important;
        bottom: 0 !important;
    }
    @media screen and (max-width: $ipad){
        position: relative !important;
        bottom: 0 !important;
    }
}

// mobile only
@media screen and (max-width: $mobile) {
    .spot-lights {
        display: none;
    }
    .slick-prev {
        left: 10px;
    }
    .slick-next {
        right: 10px;
    }
}

// hidden boombox
.hidden-boombox-wrapper {
    cursor: pointer;
}

// gdpr
.consent-wrapper {
    position: fixed;
    bottom: 0;
    background: #3c0f91;
    width: 100%;
    z-index: 999999999;
    padding: 25px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
        margin-bottom: 0;
    }
    .button-wrapper {
        display: flex;
        align-items: center;
        button {
            margin-right: 30px;
        }
    }
    .close-btn {
        cursor: pointer;
    }
    @media screen and (max-width: $mobile) {
        flex-direction: column;
        text-align: center;
        padding: 30px 20px 25px;
        p {
            margin-bottom: 15px;
        }
        .close-btn {
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }
}


// home page carousel
.active-slide_0 {
    .slider-item {
        background-image: url('../static/images/home-page/img_bkgrd_glow.png');
        background-position: -150px center;
        background-size: contain;
        background-repeat: no-repeat;
        @media screen and (max-width: $mobile) {
            background: none;
        }
    }
}
.active-slide_1 {
    .slider-item {
        background-image: url('../static/images/home-page/img_bkgrd_glow_purple.png');
        background-position: -150px center;
        background-size: contain;
        background-repeat: no-repeat;
        @media screen and (max-width: $mobile) {
            background: none;
        }
    }
    .spot-lights{
        display: block;
    }
    @media screen and (max-width: $mobile) {
        .spot-lights{
            display: none;
        }
    }
}

.active-slide_3 {
    .slider-item {
        background-image: url('../static/images/home-page/img_bkgrd_glow_purple.png');
        background-position: -150px center;
        background-size: contain;
        background-repeat: no-repeat;
        @media screen and (max-width: $mobile) {
            background: none;
        }
    }
}


// popup design
.popover {
    z-index: 99;
}

.sfa-bb {
    @media screen and (max-width: $mobile) {
        bottom: 10px !important;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.mentors-carousel {
    @media screen and (max-width: $mobile) {
        margin-bottom: 265px !important;
    }
}

.center-it{
    margin: 0 auto;
}