
// Screen sizes
$xs-mobile: 380px;
$sm-mobile: 575px;
$mobile: 769px;
$ipad: 991px;
$xl-min: 1200px;
$medium-screen: 1340px;

/* The Overlay (background) */
.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-x: hidden;
    transition: 0.5s;

    .closebtn {
        position: absolute;
        right: 30px;
        top: 30px;
        width: 16px;
        cursor: pointer;
        @media screen and (max-width: $mobile) {
            right: 10px;
            top: 10px;
        }
    }

    .overlay-content {
        position: relative !important;
        padding: 20px;
        border-radius: 3px;
        color: #fff;
        background-color: #4e099f;
        position: sticky;
        top: 30%;
        width: 537px;
        height: auto;
        margin: auto;
        background-image: url("../static/images/navigation/img_pattern_pink_right.png");
        background-size: cover;
        background-position: center bottom;
        display: flex;
        align-items: center;
        @media screen and (max-width: $mobile) {
            padding: 10px;
            top: 20%;
            justify-content: center;
            width: 90%;
            height: auto;
        }
    }
    // sign in
    .sign-in {
        padding: 30px;
        h4 {
            font-size: 24px;
            margin-bottom: 10px;
            @media screen and (max-width: $mobile) {
                font-size: 20px;
            }
        }
        h3{
            &.successful{
                font-size: 24px;
            }
        }
        .signin-text {
            margin-top: 10px;
            padding: 0 10px;
            margin-bottom: 10px;
            @media screen and (max-width: $mobile) {
                font-size: 14px;
                padding: 0;
            }
        }
        .btn-sec {
            margin-top: 10px;
            .btn-sign-in {
                background-color: #fff;
                width: 350px;
                height: 50px;
                display: flex;
                margin: 0px auto 20px;
                padding: 10px;
                align-items: center;
                justify-content: center;
                img {
                    width: 30px;
                    height: 30px;
                    margin-right: 15px;
                }
                p {
                    font-weight: 800;
                    margin-bottom: 0;
                }
                .fb {
                    color: #3b5998;
                }
                .google {
                    color: #cd5542;
                }

                @media screen and (max-width: $mobile) {
                    width: 280px;
                    height: 45px;
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
        // checkbox
        .MuiCheckbox-colorSecondary.Mui-checked {
            color: #fff;
        }
        .MuiSvgIcon-root {
            // border: 1px solid #fff;
            // background: white;
        }
    }
}
