// imports

// Screen sizes
$xs-mobile: 380px;
$sm-mobile: 575px;
$mobile: 769px;
$ipad: 991px;
$xl-min: 1200px;
$medium-screen: 1340px;


// page wrapper
.mashup-page {
    margin-top: 50px;
}
// carousell

.mashup-carousell {
    margin-bottom: 50px;

    // header wrapper
    .header-wrapper {
        margin: 50px 0px;
        @media screen and (max-width: $xl-min) {
            margin-top: 0;
        }
    }

    // slides
    .slides {
        @media screen and (max-width: $mobile) {
            text-align: center;
        }
    }

    // dots
    .slick-dots {
        margin-bottom: 30px;
    }

    // button
    .bottom-wrapper {
        margin: 40px auto 100px;
        button {
            margin-top: 10px;
        }
        @media screen and (max-width: $xl-min) {
            margin-bottom: 70px;
        }
    }
    @media screen and (max-width: $xl-min) {
        margin-bottom: 100px;
    }
    @media screen and (max-width: $mobile) {
        margin-top: 40px;
        .slick-next {
            right: 5px;
            top: 300px;
        }
        .slick-prev {
            left: 5px;
            top:  300px;
        }
        .header-wrapper{
            margin-bottom: 0px;
        }
        .image-wrapper{
            margin-bottom: 15px;
        }
    }
}

// wrapper
.genre-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        font-size: 40px;
        font-weight: 900;
        color: #f5fa19;
        margin-bottom: 0;
    }
    img.genre-x {
        margin: 0 20px;
        width: 30px;
    }

    // media
    @media screen and (max-width: $ipad) {
        margin-bottom: 20px;
        h1 {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 28px;
        }
        p {
            font-size: 18px;
        }
    }

    // media
    @media screen and (max-width: $mobile) {
        display: block;
        img.genre-x{
            margin: auto;
            width:20px;
        }
        margin-bottom: 20px;
        h1 {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 28px;
        }
    }
}