// Screen sizes
$xs-mobile: 380px;
$sm-mobile: 575px;
$mobile: 769px;
$ipad: 991px;
$xl-min: 1200px;
$medium-screen: 1340px;

// menu-container
//.tgsr-logo {
//    z-index: -1;
//}

// header
header {
    .nav-bar li {
        cursor: pointer;
        &.sign-in {
            font-size: 12px;
            min-width: 50px;
            width: auto;
            padding: 0 5px;
        }
        &.profile-item {
            width: auto;
            @media screen and (max-width: $mobile) {
                margin-left: 5px;
            }
            > div {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                > img {
                    width: 30px;
                }
                .inner-content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    .week {
                        font-size: 12px;
                        line-height: 1em;
                    }
                    .riffs {
                        img {
                            width: 9px;
                            margin: 5px 5px 9px;
                        }
                    }
                }
                .arrow-trigger {
                    width: 10px;
                    margin-left: 5px;
                }
            }
        }

        &.share-icon,
        &.week-riffs,
        &.white-riff,
        &.menu-card,
        &.share-icon,
        &.sign-in {
            margin-left: 0px;
        }
    }
}