
// Screen sizes
$xs-mobile: 380px;
$sm-mobile: 575px;
$mobile: 769px;
$ipad: 991px;
$xl-min: 1200px;
$medium-screen: 1340px;

// prize container
.producers-container {
    .inner-container {
        width: 930px;
        max-width: 100%;
        margin: 150px auto 300px;
        @media screen and (max-width: $mobile) {
            margin: 80px auto 100px;
        }
        // inner rows
        > .row {
            margin-bottom: 50px;
        }
    }
    // header
    .header-wrapper {
        h3 {
            margin-bottom: 30px;
        }
        margin-bottom: 0;
        .producer-title {
            margin: 50px 0;
            margin-bottom: 10px;
        }
    }
    // producers
    .producer-name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        h4 {
            margin-bottom: 0;
        }
        .social-container {
            a:after {
                display: none;
            }
            img:first-child {
                margin-right: 20px;
            }
            a:last-child{
                img{
                    margin-right: 0px;
                }
            }
            
        }
    }

    // boombox
    .producer-boombox {
        margin-top: -100px;
    }

    // media
    @media screen and (max-width: 767px) {
        .producer-name {
            margin-top: 30px;
        }
    }

    // mobile
    @media screen and (max-width: $mobile) {
        .header-wrapper{
            margin-bottom: 10px !important;
        }
        .header {
            padding-bottom: 15px;
            text-align: center;
        }
        .sub-header {
            text-align: center;
        }
        .producer-container {
            .producer-img {
                width: 220px;
            }
        }
        
    }
}
