// Screen sizes
$xs-mobile: 380px;
$sm-mobile: 575px;
$mobile: 769px;
$ipad: 991px;
$xl-min: 1200px;
$medium-screen: 1340px;

.qr-container {
    margin: 100px auto 150px;
    @media screen and (max-width: 1024px) {
        margin: 100px auto 170px;
    }
    @media screen and (max-width: $mobile) {
        margin: 240px auto 350px;
    }
    @media screen and (max-width: $sm-mobile) {
        margin: 100px auto 200px;
    }
    .inner-container {
        width: 930px;
        max-width: 100%;
        margin: auto;
    }
    // header
    .header-wrapper {
        margin-bottom: 0;
        h3 {
            margin: 50px auto 30px;
            text-align: center;
            @media screen and (max-width: $sm-mobile) {
                margin-bottom: 10px;
                width: 100%;
            }
        }
        .earned-header {
            margin-top: 5px;
        }
        .qr-title {
            margin: 50px 0;
            margin-bottom: 10px;
        }
        .header-image {
            img {
                width: 300px;
                margin: auto;
                margin-top: -54px;
                padding-left: 40px;
                display: table;
            }
        }
        .yellow-text {
            color: #f5fa19;
            &.heading {
                font-weight: bold;
                font-size: 32px;
            }
        }
        .login-container {
            display: flex;
            justify-content: space-evenly;
            width: 660px;
            margin: auto;
            margin-top: 40px;
            margin-bottom: 50px;
            @media screen and (max-width: 475px) {
                flex-direction: column;
                width: auto;
                margin-bottom: 25px;
                margin-top: 20px;
            }
            .login-button {
                background: #ffffff;
                padding: 14px 18px;
                width: 285px;
                margin: auto;
                @media screen and (max-width: 475px) {
                    margin-bottom: 25px;
                }
                span {
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 23px;
                }
                img {
                    width: 35px;
                    margin-right: 10px;
                }
                &.facebook {
                    color: #3b5998;
                }
                &.google {
                    color: #cd5542;
                    font-weight: bold;
                }
            }
        }
        p, a:not(.button), span {
            text-align: center;
            font-size: 20px;
            line-height: 1.2em;
        }
        .bottom-wrapper {
            display: flex;
            margin: auto;
            width: 50%;
            @media screen and (max-width: $mobile) {
                width: 68%;
            }
            @media screen and (max-width: $sm-mobile) {
                display: block;
                width: 100%;
            }
            button, a {
                margin: auto;
                display: table;
                margin-top: 30px;
            }
        }
    }

    // media
    @media screen and (max-width: 767px) {
        .producer-name {
            margin-top: 30px;
        }
    }
    @media screen and (max-width: $mobile) {
        .header-wrapper {
            margin-bottom: 10px !important;
        }
        .header {
            padding-bottom: 15px;
            text-align: center;
        }
        .sub-header {
            text-align: center;
        }
        .producer-container {
            .producer-img {
                width: 220px;
            }
        }
    }
}
