
// Screen sizes
$xs-mobile: 380px;
$sm-mobile: 575px;
$mobile: 769px;
$ipad: 991px;
$xl-min: 1200px;
$medium-screen: 1340px;


// wrapper
.toast-wrapper {
	position: relative;
	width: 400px;
	height: 84px;
	background: #fff200;
	padding: 15px;
	margin: 0;
    border-radius: 0;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);

	&:before {
		position: absolute;
		left: -10px;
		top: 0;
		content: url("../static/images/toast/points/skew-left.png");
	}
	img.boombox {
		position: absolute;
		right: 0;
		bottom: 0;
	}
	img.close-btn {
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 10;
		cursor: pointer;
	}

	.point-container {
		$skew: 5deg;
		display: inline-block;
		padding: 0px 5px;
		background-color: #f00082;
		-moz-transform: skew(-$skew, 0deg);
		-webkit-transform: skew(-$skew, 0deg);
		-o-transform: skew(-$skew, 0deg);
		-ms-transform: skew(-$skew, 0deg);
		transform: skew(-$skew, 0deg);
		p {
			font-weight: bold;
			line-height: 1em;
			font-size: 15px;
			margin: 7px 4px 5px;
			color: #fff;
			-moz-transform: skew($skew, 0deg);
			-webkit-transform: skew($skew, 0deg);
			-o-transform: skew($skew, 0deg);
			-ms-transform: skew($skew, 0deg);
			transform: skew($skew, 0deg);
		}
	}

	.message {
		color: #000000;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.2em;
		margin: 5px auto 5px 0;
		width: 185px;
	}


	// alert wrapper
	&.alert {
		background: #f00082;
		padding-top: 10px;
		// skew
		&:before {
			content: url("../static/images/toast/alert/skew-left.png")
		}
		p.message {
			color: #eee;
		}
		a.link {
			color: #f5fa19;
			font-size: 14px;
			font-weight: bold;
		}
		.point-container {
			border: 1px solid white;
			margin-top: 3px;
			p {
				margin: 5px 0;
				font-size: 12px;
			}
		}
	}

	// mobile
	@media screen and (max-width: $sm-mobile) {
		width: 100vw;
		padding-bottom: 30px;
		height: auto;
		img.boombox {
			width: 200px;
			right: 20px;
			bottom: 30px;
		}
	}
	@media screen and (max-width: $xs-mobile) {
		img.boombox {
			width: 150px;
			right: 20px;
		}
	}
}

// global override
.Toastify__toast-container--bottom-center.boombox-toast {
	right: 30px;
	left: auto;
	width: auto;
	bottom: 0;
	padding: 0;
	.Toastify__toast--default {
		background: none;
		box-shadow: none;
		overflow: visible;
		padding: 0;
		margin-bottom: 0;
		margin-top: 15px;
	}
	.Toastify__close-button {
		display: none;
	}
	// mobile
	@media screen and (max-width: $sm-mobile) {
		right: 0;
	}
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
		right: auto;
		left: 85vw;
	}
}

.Toastify__toast-container {
	-webkit-transform: translate3d(0, 0, 0) !important;
	z-index: 99999992 !important;
}


